In [1]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation
from bs4 import BeautifulSoup # library for web scrapping 

#!conda install -c conda-forge geocoder --yes
#print ("install geocoder")
#!conda install -c conda-forge/label/gcc7 geocoder --yes
#print ("install geocoder2")
#!conda install -c conda-forge/label/cf201901 geocoder --yes
#print ("install geocoder3")
#!conda install -c conda-forge/label/cf202003 geocoder --yes
#print ("install geocoder4")
import geocoder

#!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

#!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors

import sqlalchemy  # Package for accessing SQL databases via Python


print('Folium installed')
print('Libraries imported.')

Folium installed
Libraries imported.

In [2]:
CLIENT_ID = 'EZUCSVCTPAWJTAGVHIP2GM5LHRXH03D54VXUUPECMO2AAFQV' # your Foursquare ID
CLIENT_SECRET = 'KE4C1V0NGPXD5HTFDU34XHG0DPNNFVMK34EWOFLFBUU20QOQ' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: EZUCSVCTPAWJTAGVHIP2GM5LHRXH03D54VXUUPECMO2AAFQV
CLIENT_SECRET:KE4C1V0NGPXD5HTFDU34XHG0DPNNFVMK34EWOFLFBUU20QOQ

In [3]:
# Read in the data Covid-19 cases per district (28 May,2020)
df_cases = pd.read_csv("https://raw.githubusercontent.com/cahyati/GIS_Approach_on_Covid19/master/Standar%20Kelurahan%20Data%20Corona%20(28%20MEI%202020%20Pukul%2009.00)_Fix.csv")
# View the top rows of the dataset
df_cases

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,PDP,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation,Keterangan
0,0,2020-05-28,BELUM DIKETAHUI,BELUM DIKETAHUI,BELUM DIKETAHUI,BELUM DIKETAHUI,BELUM DIKETAHUI,3723,107,3616,2584,272,2312,539,149,26,8,356,NaN
1,1,2020-05-28,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,5706,342,5364,1638,229,1409,1329,499,382,71,377,NaN
2,2,2020-05-28,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,129,0,129,61,0,61,51,15,28,4,4,NaN
3,3,2020-05-28,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,7,0,7,13,0,13,17,0,16,0,1,NaN
4,4,2020-05-28,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,408,2,406,45,3,42,55,13,22,7,13,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,264,2020-05-28,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,175,1,174,1,0,1,13,3,0,0,10,NaN
265,265,2020-05-28,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,3,0,3,1,0,0,0,1,NaN
266,266,2020-05-28,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,15,0,15,7,0,7,3,2,1,0,0,NaN
267,267,2020-05-28,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,21,0,21,7,4,3,2,0,0,0,2,NaN
268,268,2020-05-28,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,20,0,20,0,0,0,0,0,0,0,0,NaN

In [4]:
# Read in the data total population in DKI Jakarta 2020
df_population = pd.read_csv("https://raw.githubusercontent.com/cahyati/GIS_Approach_on_Covid19/master/population2020_DKI_Jakarta.csv")
# View the top rows of the dataset
df_population

              City  Total_population_2020(people/km2)
0    Jakarta Pusat                              23877
1    Jakarta Barat                              19592
2    Jakarta Timur                              16924
3  Jakarta Selatan                              16600
4    Jakarta Utara                              12409
5      Kep. Seribu                               3334

In [5]:
# Read in the data 10 most pupulation in DKI Jakarta 2020 per district
df_most_population = pd.read_csv("https://raw.githubusercontent.com/cahyati/GIS_Approach_on_Covid19/master/10_kelurahan%20terpadat_DKI_Jakarta.csv")
# View the top rows of the dataset
df_most_population

         district  Total_population_2020_(people/km2)
0      Kali_Anyar                               95676
1    Kampung_Rawa                               91441
2           Galur                               89160
3    Tanah_Tinggi                               77367
4       Kerendang                               76343
5    Utan_Panjang                               69559
6   Jembatan_Besi                               67874
7       Keagungan                               67717
8  Kampung_Melayu                               66594
9    Karang_Anyar                               65141

In [6]:
# Read in the data Hospital for treatment covid-19
df_hospital = pd.read_csv("https://raw.githubusercontent.com/cahyati/GIS_Approach_on_Covid19/master/Hospital%20for%20treatment%20covid-19.csv")
# View the top rows of the dataset
df_hospital

                        Hospital             City             District
0           RSPI Sulianti Saroso    Jakarta Utara        Tanjung Priok
1              RSUP Persahabatan    Jakarta Timur          Pulo Gadung
2           RSPAD Gatot Soebroto    Jakarta Pusat                Senen
3                 RSUP Fatmawati  Jakarta Selatan             Cilandak
4   RSU Bhayangkara Said Sukanto    Jakarta Timur          Kramat Jati
5               RSAL Mintohardjo    Jakarta Pusat          Tanah Abang
6                RSUD Cengkareng    Jakarta Barat           Cengkareng
7              RSUD Pasar Minggu  Jakarta Selatan         Pasar Minggu
8               RSKD Duren Sawit    Jakarta Timur          Duren Sawit
9                       RS Pelni    Jakarta Barat             Palmerah
10                  RSUD Tarakan    Jakarta Pusat               Cideng
11                     RSUD Koja    Jakarta Utara                 Koja
12            RSU Pertamina Jaya    Jakarta Pusat  Cempaka Putih Timur

## latitude and longitude

In [26]:
# Import required package for obtaining Latitude and Longitude of each cities
# Need to get Latitude & Longitude of Jakarta city and the districts
# Get API key from the service provider (Open Cage Geocode)
#!pip install opencage
from opencage.geocoder import OpenCageGeocode
key = 'ae55d9d95d6645298efcfd402a46ed5d'
geocoder = OpenCageGeocode(key)
query = 'Jakarta, Indonesia'  
results = geocoder.geocode(query)
# print (results)

In [27]:
# Isolate only the Latitude & Longitude of Jakarta from the Json file
lat = results[0]['geometry']['lat']
lng = results[0]['geometry']['lng']
print ('The Latitude and Longitude of Jakarta is {} and {} repectively.'.format(lat, lng))

The Latitude and Longitude of Jakarta is -6.1753942 and 106.827183 repectively.

In [9]:
df_cases.columns

Index(['FID', 'Tanggal', 'ID_KEL', 'Nama_provinsi', 'nama_kota',
       'nama_kecamatan', 'nama_kelurahan', 'ODP', 'Proses_Pemantauan',
       'Selesai_Pemantauan', 'PDP', 'Masih_Dirawat', 'Pulang_dan_Sehat',
       'POSITIF', 'Dirawat', 'Sembuh', 'Meninggal', 'Self_Isolation',
       'Keterangan'],
      dtype='object')

In [10]:
indexNames = df_cases[(df_cases['nama_kelurahan'] == 'BELUM DIKETAHUI') | (df_cases['nama_kota'] == 'LUAR DKI JAKARTA')].index
df_cases.drop(indexNames, inplace=True)
df_cases.head()

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,PDP,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation,Keterangan
2,2,2020-05-28,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,129,0,129,61,0,61,51,15,28,4,4,NaN
3,3,2020-05-28,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,7,0,7,13,0,13,17,0,16,0,1,NaN
4,4,2020-05-28,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,408,2,406,45,3,42,55,13,22,7,13,NaN
5,5,2020-05-28,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,168,0,168,65,1,64,37,8,15,4,10,NaN
6,6,2020-05-28,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,30,3,27,42,9,27,1,5,NaN

In [11]:
# Get the number and the names of each municipality or city in Jakarta
df_cases['nama_kota'].unique()
print(df_cases['nama_kota'].unique())
np.array(['JAKARTA TIMUR', 'JAKARTA PUSAT', 'JAKARTA BARAT','JAKARTA SELATAN', 'JAKARTA UTARA', 'KAB.ADM.KEP.SERIBU'],dtype=object)
# Get the number of districts (i.e. counts) in Jakarta.
# Get the mean number of positive cases of each district in the city and the standard deviation
df_cases.describe()

['JAKARTA BARAT' 'JAKARTA SELATAN' 'JAKARTA UTARA' 'JAKARTA TIMUR'
 'JAKARTA PUSAT' 'KAB.ADM.KEP.SERIBU']

,FID,ODP,Proses_Pemantauan,Selesai_Pemantauan,PDP,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation,Keterangan
count,267.000000,267.000000,267.000000,267.000000,267.000000,267.000000,267.000000,267.000000,267.000000,267.000000,267.000000,267.000000,0.0
mean,135.000000,79.681648,1.112360,78.569288,20.056180,1.887640,18.168539,18.955056,5.269663,4.910112,1.629213,7.146067,NaN
std,77.220464,72.243790,1.659592,71.644787,17.036467,2.176972,16.041232,18.970838,5.009984,5.084934,1.837672,11.809469,NaN
min,2.000000,3.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,68.500000,37.000000,0.000000,36.000000,9.000000,0.000000,8.000000,8.000000,2.000000,1.000000,0.000000,2.000000,NaN
50%,135.000000,59.000000,1.000000,57.000000,16.000000,1.000000,14.000000,15.000000,4.000000,3.000000,1.000000,4.000000,NaN
75%,201.500000,97.500000,2.000000,96.000000,25.000000,3.000000,22.500000,23.000000,7.000000,7.000000,2.000000,8.000000,NaN
max,268.000000,512.000000,11.000000,506.000000,143.000000,12.000000,134.000000,149.000000,44.000000,28.000000,11.000000,96.000000,NaN

In [12]:
df_cases.info()

# Get the number of total / confirmed POSITIVE cases in Jakarta per 28 May 2020
df_cases['POSITIF'].sum()

print ("positive cases :", df_cases['POSITIF'].sum())

# Group the data by CITY
df_cases_grp = df_cases.groupby(['nama_kota'])
df_cases_grp

df_cases_grp['POSITIF'].sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 2 to 268
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FID                 267 non-null    int64
 1   Tanggal             267 non-null    object
 2   ID_KEL              267 non-null    object
 3   Nama_provinsi       267 non-null    object
 4   nama_kota           267 non-null    object
 5   nama_kecamatan      267 non-null    object
 6   nama_kelurahan      267 non-null    object
 7   ODP                 267 non-null    int64
 8   Proses_Pemantauan   267 non-null    int64
 9   Selesai_Pemantauan  267 non-null    int64
 10  PDP                 267 non-null    int64
 11  Masih_Dirawat       267 non-null    int64
 12  Pulang_dan_Sehat    267 non-null    int64
 13  POSITIF             267 non-null    int64
 14  Dirawat             267 non-null    int64
 15  Sembuh              267 non-null    int64
 16  Meninggal           267 non-null    int64
 17  Self_Isolation      267 non-null    int64
 18  Keterangan          0 non-null      float64
dtypes: float64(1), int64(12), object(6)
memory usage: 41.7+ KB
positive cases : 5061

nama_kota
JAKARTA BARAT         1122
JAKARTA PUSAT          922
JAKARTA SELATAN        888
JAKARTA TIMUR         1162
JAKARTA UTARA          953
KAB.ADM.KEP.SERIBU      14
Name: POSITIF, dtype: int64

In [13]:
# Get latitude and longitude of all districts
list_lat = []   # create empty lists for latitude
list_long = []  # create empty lists for longitude
for index, row in df_cases.iterrows(): # iterate over rows in dataframe
    District = row['nama_kelurahan']       
    query = str(District)+', Jakarta'
    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']
    list_lat.append(lat)
    list_long.append(long)
# create new columns from lists    
df_cases['Latitude'] = list_lat   
df_cases['Longitude'] = list_long
df_cases

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,...,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation,Keterangan,Latitude,Longitude
2,2,2020-05-28,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,129,0,129,...,0,61,51,15,28,4,4,NaN,-6.131373,106.701338
3,3,2020-05-28,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,7,0,7,...,0,13,17,0,16,0,1,NaN,-6.226911,106.809920
4,4,2020-05-28,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,408,2,406,...,3,42,55,13,22,7,13,NaN,-6.192572,106.769726
5,5,2020-05-28,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,168,0,168,...,1,64,37,8,15,4,10,NaN,-6.166612,106.903732
6,6,2020-05-28,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,...,3,27,42,9,27,1,5,NaN,-6.172725,106.797301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,264,2020-05-28,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,175,1,174,...,0,1,13,3,0,0,10,NaN,-5.803887,106.525306
265,265,2020-05-28,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,...,0,3,1,0,0,0,1,NaN,-6.135969,106.814264
266,266,2020-05-28,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,15,0,15,...,0,7,3,2,1,0,0,NaN,-6.207319,106.829340
267,267,2020-05-28,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,21,0,21,...,4,3,2,0,0,0,2,NaN,-6.146614,106.801046
268,268,2020-05-28,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,20,0,20,...,0,0,0,0,0,0,0,NaN,-5.977613,106.707241

In [14]:
# Get the latitude and longitude of all of the specialist hospitals
list2_lat = []   # create empty lists for latitude
list2_long = []  # create empty lists for longitude
for index, row in df_hospital.iterrows(): # iterate over rows in dataframe
    hosp = row['Hospital']
    distr = row['District']       
    query = str(hosp) + ', ' + str(distr) + ', Jakarta'
    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']
    list2_lat.append(lat)
    list2_long.append(long)
# create new columns from lists    
df_hospital['Latitude'] = list2_lat   
df_hospital['Longitude'] = list2_long
df_hospital

,Hospital,City,District,Latitude,Longitude
0,RSPI Sulianti Saroso,Jakarta Utara,Tanjung Priok,-6.129834,106.862590
1,RSUP Persahabatan,Jakarta Timur,Pulo Gadung,-6.204693,106.884848
2,RSPAD Gatot Soebroto,Jakarta Pusat,Senen,-6.173000,106.841800
3,RSUP Fatmawati,Jakarta Selatan,Cilandak,-6.297550,106.783930
4,RSU Bhayangkara Said Sukanto,Jakarta Timur,Kramat Jati,-6.234440,106.786670
5,RSAL Mintohardjo,Jakarta Pusat,Tanah Abang,-6.214620,106.845130
6,RSUD Cengkareng,Jakarta Barat,Cengkareng,-6.142970,106.734887
7,RSUD Pasar Minggu,Jakarta Selatan,Pasar Minggu,-6.294225,106.820069
8,RSKD Duren Sawit,Jakarta Timur,Duren Sawit,-6.214620,106.845130
9,RS Pelni,Jakarta Barat,Palmerah,-6.193061,106.803976
10,RSUD Tarakan,Jakarta Pusat,Cideng,-6.171638,106.810346
11,RSUD Koja,Jakarta Utara,Koja,-6.108922,106.900060
12,RSU Pertamina Jaya,Jakarta Pusat,Cempaka Putih Timur,-6.214620,106.845130

In [15]:
FID_value = []
n = 0
for index, row in df_hospital.iterrows():
    #FID = row['FID']
    n = n + 1
    fid = n
    FID_value.append(fid)
print(FID_value)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [16]:
df_hospital.insert(0,"FID",FID_value)
df_hospital

,FID,Hospital,City,District,Latitude,Longitude
0,1,RSPI Sulianti Saroso,Jakarta Utara,Tanjung Priok,-6.129834,106.862590
1,2,RSUP Persahabatan,Jakarta Timur,Pulo Gadung,-6.204693,106.884848
2,3,RSPAD Gatot Soebroto,Jakarta Pusat,Senen,-6.173000,106.841800
3,4,RSUP Fatmawati,Jakarta Selatan,Cilandak,-6.297550,106.783930
4,5,RSU Bhayangkara Said Sukanto,Jakarta Timur,Kramat Jati,-6.234440,106.786670
5,6,RSAL Mintohardjo,Jakarta Pusat,Tanah Abang,-6.214620,106.845130
6,7,RSUD Cengkareng,Jakarta Barat,Cengkareng,-6.142970,106.734887
7,8,RSUD Pasar Minggu,Jakarta Selatan,Pasar Minggu,-6.294225,106.820069
8,9,RSKD Duren Sawit,Jakarta Timur,Duren Sawit,-6.214620,106.845130
9,10,RS Pelni,Jakarta Barat,Palmerah,-6.193061,106.803976
10,11,RSUD Tarakan,Jakarta Pusat,Cideng,-6.171638,106.810346
11,12,RSUD Koja,Jakarta Utara,Koja,-6.108922,106.900060
12,13,RSU Pertamina Jaya,Jakarta Pusat,Cempaka Putih Timur,-6.214620,106.845130

## PostgreSQL

In [17]:
df_cases_postgre = df_cases
df_cases_postgre

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,...,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation,Keterangan,Latitude,Longitude
2,2,2020-05-28,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,129,0,129,...,0,61,51,15,28,4,4,NaN,-6.131373,106.701338
3,3,2020-05-28,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,7,0,7,...,0,13,17,0,16,0,1,NaN,-6.226911,106.809920
4,4,2020-05-28,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,408,2,406,...,3,42,55,13,22,7,13,NaN,-6.192572,106.769726
5,5,2020-05-28,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,168,0,168,...,1,64,37,8,15,4,10,NaN,-6.166612,106.903732
6,6,2020-05-28,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,...,3,27,42,9,27,1,5,NaN,-6.172725,106.797301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,264,2020-05-28,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,175,1,174,...,0,1,13,3,0,0,10,NaN,-5.803887,106.525306
265,265,2020-05-28,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,...,0,3,1,0,0,0,1,NaN,-6.135969,106.814264
266,266,2020-05-28,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,15,0,15,...,0,7,3,2,1,0,0,NaN,-6.207319,106.829340
267,267,2020-05-28,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,21,0,21,...,4,3,2,0,0,0,2,NaN,-6.146614,106.801046
268,268,2020-05-28,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,20,0,20,...,0,0,0,0,0,0,0,NaN,-5.977613,106.707241

In [18]:
df_hospital_postgre = df_hospital
df_hospital_postgre

,FID,Hospital,City,District,Latitude,Longitude
0,1,RSPI Sulianti Saroso,Jakarta Utara,Tanjung Priok,-6.129834,106.862590
1,2,RSUP Persahabatan,Jakarta Timur,Pulo Gadung,-6.204693,106.884848
2,3,RSPAD Gatot Soebroto,Jakarta Pusat,Senen,-6.173000,106.841800
3,4,RSUP Fatmawati,Jakarta Selatan,Cilandak,-6.297550,106.783930
4,5,RSU Bhayangkara Said Sukanto,Jakarta Timur,Kramat Jati,-6.234440,106.786670
5,6,RSAL Mintohardjo,Jakarta Pusat,Tanah Abang,-6.214620,106.845130
6,7,RSUD Cengkareng,Jakarta Barat,Cengkareng,-6.142970,106.734887
7,8,RSUD Pasar Minggu,Jakarta Selatan,Pasar Minggu,-6.294225,106.820069
8,9,RSKD Duren Sawit,Jakarta Timur,Duren Sawit,-6.214620,106.845130
9,10,RS Pelni,Jakarta Barat,Palmerah,-6.193061,106.803976
10,11,RSUD Tarakan,Jakarta Pusat,Cideng,-6.171638,106.810346
11,12,RSUD Koja,Jakarta Utara,Koja,-6.108922,106.900060
12,13,RSU Pertamina Jaya,Jakarta Pusat,Cempaka Putih Timur,-6.214620,106.845130

In [19]:
# Connect to database (Note: The package psychopg2 is required for Postgres to work with SQLAlchemy)
engine = sqlalchemy.create_engine("postgres://postgres:p@ssw0rd69@localhost/Covid19")
con = engine.connect()

In [20]:
# Verify that there are no existing tables
print(engine.table_names())

[]

In [22]:
table_cases = 'Covid19TB'
table_hospital = 'HospitalTB'
df_cases_postgre.to_sql(table_cases, con)
df_hospital_postgre.to_sql(table_hospital, con)

In [23]:
print(engine.table_names())

['Covid19TB', 'HospitalTB']

# Usecase

In [24]:
prop_neighborhood = pd.DataFrame({
   'Hospital':['RSUD Tarakan']
})

neighborhood_latitude_list = []   # create empty lists for latitude
neighborhood_longitude_list = []  # create empty lists for longitude

for index, row in prop_neighborhood.iterrows(): # iterate over rows in dataframe
    neigh = row['Hospital']  
    query = str(neigh) + ', Jakarta Pusat'
    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']
    neighborhood_latitude_list.append(lat)
    neighborhood_longitude_list.append(long)
# create new columns from lists    
prop_neighborhood['Latitude'] = neighborhood_latitude_list   
prop_neighborhood['Longitude'] = neighborhood_longitude_list
prop_neighborhood

       Hospital  Latitude   Longitude
0  RSUD Tarakan -6.171638  106.810346

In [25]:
# Define function that extracts the category of the venue based on the returned JSON file
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [26]:
neighborhood_latitude = 0
neighborhood_longitude = 0

address = 'RSUD Tarakan, Jakarta Pusat'

geolocator = Nominatim(user_agent="Hospital_agent")
location = geolocator.geocode(address)
neighborhood_latitude= location.latitude
neighborhood_longitude= location.longitude
print("RSUD Tarakan: ", neighborhood_latitude, ",",neighborhood_longitude)

RSUD Tarakan:  -6.1723055 , 106.8106017

In [27]:
# Get url for the API in Tarakan Hospital neighborhood
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius in meter
# create URL
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
# url - not printed for privacy

In [28]:
# Send the GET request and examine the resutls
results = requests.get(url).json()
# results - not printed for shortening of the report

In [29]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]
nearby_venues

C:\Users\cahya\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

,name,categories,lat,lng
0,Warung Nasi Bunda,Indonesian Restaurant,-6.171549,106.808877
1,Kopi Kebut Nitro Bar,Coffee Shop,-6.173219,106.811754
2,McDonald's Cideng,Fast Food Restaurant,-6.173391,106.811314
3,Bubur Ayam Musi,Breakfast Spot,-6.174420,106.809554
4,Starbucks,Coffee Shop,-6.175441,106.812220
5,Petrof Piano,Music Venue,-6.172733,106.811713
6,Pondok Aroma Laut,Seafood Restaurant,-6.171484,106.808930
7,Suan Thai,Thai Restaurant,-6.173744,106.811701
8,favehotel Tanah Abang - Cideng,Hotel,-6.173586,106.811802
9,Focus Nusantara - Camera & Photography Shop,Camera Store,-6.175639,106.812901
10,Sate Khas Senayan,Indonesian Restaurant,-6.175524,106.812054
11,Roemah Noni,Indonesian Restaurant,-6.172590,106.815097
12,Royal City Hotel,Hotel,-6.171874,106.808127
13,Maxx Coffee Cideng,Coffee Shop,-6.175761,106.811738
14,McDonald's,Fast Food Restaurant,-6.173762,106.811106
15,Burger King,Fast Food Restaurant,-6.172196,106.811417
16,Wita Tour Head Office,Office,-6.170505,106.814110
17,Pondol,Asian Restaurant,-6.176039,106.810050
18,Gramedia,Bookstore,-6.171733,106.808911
19,Pondol (Pondok Es Cendol),Indonesian Restaurant,-6.176257,106.810023
20,Lawson,Convenience Store,-6.171289,106.808703
21,Depot Es & Masakan Indonesia Nini Thowong,Ice Cream Shop,-6.174463,106.813406
22,Focus Nusantara,Camera Store,-6.175629,106.812945
23,Huize Trivelli (Heritage Resto & Patissier),Indonesian Restaurant,-6.176266,106.810599
24,Lynt Hotel,Hotel,-6.169046,106.810864
25,Bale Lombok - Spesialis ayam taliwang,Indonesian Restaurant,-6.176257,106.810561
26,KFC Cideng Jakarta Pusat,American Restaurant,-6.175689,106.812037
27,Waroenk Kito,Asian Restaurant,-6.170086,106.808407
28,Bale Lombok,Indonesian Restaurant,-6.176337,106.810579

In [30]:
df_vanue = nearby_venues
df_vanue

,name,categories,lat,lng
0,Warung Nasi Bunda,Indonesian Restaurant,-6.171549,106.808877
1,Kopi Kebut Nitro Bar,Coffee Shop,-6.173219,106.811754
2,McDonald's Cideng,Fast Food Restaurant,-6.173391,106.811314
3,Bubur Ayam Musi,Breakfast Spot,-6.174420,106.809554
4,Starbucks,Coffee Shop,-6.175441,106.812220
5,Petrof Piano,Music Venue,-6.172733,106.811713
6,Pondok Aroma Laut,Seafood Restaurant,-6.171484,106.808930
7,Suan Thai,Thai Restaurant,-6.173744,106.811701
8,favehotel Tanah Abang - Cideng,Hotel,-6.173586,106.811802
9,Focus Nusantara - Camera & Photography Shop,Camera Store,-6.175639,106.812901
10,Sate Khas Senayan,Indonesian Restaurant,-6.175524,106.812054
11,Roemah Noni,Indonesian Restaurant,-6.172590,106.815097
12,Royal City Hotel,Hotel,-6.171874,106.808127
13,Maxx Coffee Cideng,Coffee Shop,-6.175761,106.811738
14,McDonald's,Fast Food Restaurant,-6.173762,106.811106
15,Burger King,Fast Food Restaurant,-6.172196,106.811417
16,Wita Tour Head Office,Office,-6.170505,106.814110
17,Pondol,Asian Restaurant,-6.176039,106.810050
18,Gramedia,Bookstore,-6.171733,106.808911
19,Pondol (Pondok Es Cendol),Indonesian Restaurant,-6.176257,106.810023
20,Lawson,Convenience Store,-6.171289,106.808703
21,Depot Es & Masakan Indonesia Nini Thowong,Ice Cream Shop,-6.174463,106.813406
22,Focus Nusantara,Camera Store,-6.175629,106.812945
23,Huize Trivelli (Heritage Resto & Patissier),Indonesian Restaurant,-6.176266,106.810599
24,Lynt Hotel,Hotel,-6.169046,106.810864
25,Bale Lombok - Spesialis ayam taliwang,Indonesian Restaurant,-6.176257,106.810561
26,KFC Cideng Jakarta Pusat,American Restaurant,-6.175689,106.812037
27,Waroenk Kito,Asian Restaurant,-6.170086,106.808407
28,Bale Lombok,Indonesian Restaurant,-6.176337,106.810579

In [31]:
# Rename columns name to English
df_vanue = df_vanue.rename(columns = {'lat':'Latitude', 'lng':'Longitude'})
df_vanue

,name,categories,Latitude,Longitude
0,Warung Nasi Bunda,Indonesian Restaurant,-6.171549,106.808877
1,Kopi Kebut Nitro Bar,Coffee Shop,-6.173219,106.811754
2,McDonald's Cideng,Fast Food Restaurant,-6.173391,106.811314
3,Bubur Ayam Musi,Breakfast Spot,-6.174420,106.809554
4,Starbucks,Coffee Shop,-6.175441,106.812220
5,Petrof Piano,Music Venue,-6.172733,106.811713
6,Pondok Aroma Laut,Seafood Restaurant,-6.171484,106.808930
7,Suan Thai,Thai Restaurant,-6.173744,106.811701
8,favehotel Tanah Abang - Cideng,Hotel,-6.173586,106.811802
9,Focus Nusantara - Camera & Photography Shop,Camera Store,-6.175639,106.812901
10,Sate Khas Senayan,Indonesian Restaurant,-6.175524,106.812054
11,Roemah Noni,Indonesian Restaurant,-6.172590,106.815097
12,Royal City Hotel,Hotel,-6.171874,106.808127
13,Maxx Coffee Cideng,Coffee Shop,-6.175761,106.811738
14,McDonald's,Fast Food Restaurant,-6.173762,106.811106
15,Burger King,Fast Food Restaurant,-6.172196,106.811417
16,Wita Tour Head Office,Office,-6.170505,106.814110
17,Pondol,Asian Restaurant,-6.176039,106.810050
18,Gramedia,Bookstore,-6.171733,106.808911
19,Pondol (Pondok Es Cendol),Indonesian Restaurant,-6.176257,106.810023
20,Lawson,Convenience Store,-6.171289,106.808703
21,Depot Es & Masakan Indonesia Nini Thowong,Ice Cream Shop,-6.174463,106.813406
22,Focus Nusantara,Camera Store,-6.175629,106.812945
23,Huize Trivelli (Heritage Resto & Patissier),Indonesian Restaurant,-6.176266,106.810599
24,Lynt Hotel,Hotel,-6.169046,106.810864
25,Bale Lombok - Spesialis ayam taliwang,Indonesian Restaurant,-6.176257,106.810561
26,KFC Cideng Jakarta Pusat,American Restaurant,-6.175689,106.812037
27,Waroenk Kito,Asian Restaurant,-6.170086,106.808407
28,Bale Lombok,Indonesian Restaurant,-6.176337,106.810579

In [32]:
FID_value2 = []
n2 = 0
for index, row in df_vanue.iterrows():
    #FID = row['FID']
    n2 = n2 + 1
    fid2 = n2
    FID_value2.append(fid2)
print(FID_value2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [33]:
df_vanue.insert(0,"FID",FID_value2)
df_vanue

,FID,name,categories,Latitude,Longitude
0,1,Warung Nasi Bunda,Indonesian Restaurant,-6.171549,106.808877
1,2,Kopi Kebut Nitro Bar,Coffee Shop,-6.173219,106.811754
2,3,McDonald's Cideng,Fast Food Restaurant,-6.173391,106.811314
3,4,Bubur Ayam Musi,Breakfast Spot,-6.174420,106.809554
4,5,Starbucks,Coffee Shop,-6.175441,106.812220
5,6,Petrof Piano,Music Venue,-6.172733,106.811713
6,7,Pondok Aroma Laut,Seafood Restaurant,-6.171484,106.808930
7,8,Suan Thai,Thai Restaurant,-6.173744,106.811701
8,9,favehotel Tanah Abang - Cideng,Hotel,-6.173586,106.811802
9,10,Focus Nusantara - Camera & Photography Shop,Camera Store,-6.175639,106.812901
10,11,Sate Khas Senayan,Indonesian Restaurant,-6.175524,106.812054
11,12,Roemah Noni,Indonesian Restaurant,-6.172590,106.815097
12,13,Royal City Hotel,Hotel,-6.171874,106.808127
13,14,Maxx Coffee Cideng,Coffee Shop,-6.175761,106.811738
14,15,McDonald's,Fast Food Restaurant,-6.173762,106.811106
15,16,Burger King,Fast Food Restaurant,-6.172196,106.811417
16,17,Wita Tour Head Office,Office,-6.170505,106.814110
17,18,Pondol,Asian Restaurant,-6.176039,106.810050
18,19,Gramedia,Bookstore,-6.171733,106.808911
19,20,Pondol (Pondok Es Cendol),Indonesian Restaurant,-6.176257,106.810023
20,21,Lawson,Convenience Store,-6.171289,106.808703
21,22,Depot Es & Masakan Indonesia Nini Thowong,Ice Cream Shop,-6.174463,106.813406
22,23,Focus Nusantara,Camera Store,-6.175629,106.812945
23,24,Huize Trivelli (Heritage Resto & Patissier),Indonesian Restaurant,-6.176266,106.810599
24,25,Lynt Hotel,Hotel,-6.169046,106.810864
25,26,Bale Lombok - Spesialis ayam taliwang,Indonesian Restaurant,-6.176257,106.810561
26,27,KFC Cideng Jakarta Pusat,American Restaurant,-6.175689,106.812037
27,28,Waroenk Kito,Asian Restaurant,-6.170086,106.808407
28,29,Bale Lombok,Indonesian Restaurant,-6.176337,106.810579

In [36]:
df_vanue_postgre = df_vanue
table_vanue = 'VanueTB'

df_vanue_postgre.to_sql(table_vanue, con)

In [20]:
# Verify that there are no existing tables
print(engine.table_names())

['Covid19TB', 'HospitalTB', 'VanueTB']

# Insert new dataFrame

In [59]:
# Read in the data 10 most pupulation in DKI Jakarta 2020 per district
df_cases_postgre2 = pd.read_csv("https://raw.githubusercontent.com/cahyati/GIS_Approach_on_Covid19/master/Standar%20Kelurahan%20Data%20Corona%20(28%20MEI%202020%20Pukul%2009.00).csv")
# View the top rows of the dataset
df_cases_postgre2

,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,PDP,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation,Keterangan
0,2020-05-28,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,129,0,129,61,0,61,51,15,28,4,4,NaN
1,2020-05-28,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,7,0,7,13,0,13,17,0,16,0,1,NaN
2,2020-05-28,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,408,2,406,45,3,42,55,13,22,7,13,NaN
3,2020-05-28,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,168,0,168,65,1,64,37,8,15,4,10,NaN
4,2020-05-28,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,30,3,27,42,9,27,1,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2020-05-28,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,175,1,174,1,0,1,13,3,0,0,10,NaN
263,2020-05-28,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,3,0,3,1,0,0,0,1,NaN
264,2020-05-28,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,15,0,15,7,0,7,3,2,1,0,0,NaN
265,2020-05-28,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,21,0,21,7,4,3,2,0,0,0,2,NaN
266,2020-05-28,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,20,0,20,0,0,0,0,0,0,0,0,NaN

In [60]:
# Get latitude and longitude of all districts
list_latitude = []   # create empty lists for latitude
list_longitude = []  # create empty lists for longitude
for index, row in df_cases_postgre2.iterrows(): # iterate over rows in dataframe
    District = row['nama_kelurahan']       
    query = str(District)+', Jakarta'
    results = geocoder.geocode(query)   
    latitude = results[0]['geometry']['lat']
    longitude = results[0]['geometry']['lng']
    list_latitude.append(latitude)
    list_longitude.append(longitude)
# create new columns from lists    
df_cases_postgre2['Latitude'] = list_latitude   
df_cases_postgre2['Longitude'] = list_longitude
df_cases_postgre2

,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,PDP,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation,Keterangan,Latitude,Longitude
0,2020-05-28,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,129,0,129,61,0,61,51,15,28,4,4,NaN,-6.131373,106.701338
1,2020-05-28,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,7,0,7,13,0,13,17,0,16,0,1,NaN,-6.226911,106.809920
2,2020-05-28,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,408,2,406,45,3,42,55,13,22,7,13,NaN,-6.192572,106.769726
3,2020-05-28,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,168,0,168,65,1,64,37,8,15,4,10,NaN,-6.166612,106.903732
4,2020-05-28,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,30,3,27,42,9,27,1,5,NaN,-6.172725,106.797301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2020-05-28,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,175,1,174,1,0,1,13,3,0,0,10,NaN,-5.803887,106.525306
263,2020-05-28,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,3,0,3,1,0,0,0,1,NaN,-6.135969,106.814264
264,2020-05-28,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,15,0,15,7,0,7,3,2,1,0,0,NaN,-6.207319,106.829340
265,2020-05-28,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,21,0,21,7,4,3,2,0,0,0,2,NaN,-6.146614,106.801046
266,2020-05-28,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,20,0,20,0,0,0,0,0,0,0,0,NaN,-5.977613,106.707241

In [61]:
FID_value3 = []
nGlobal = 0
for index, row in df_cases_postgre2.iterrows():
    #FID = row['FID']
    nGlobal = nGlobal + 1
    fid3 = nGlobal
    FID_value3.append(fid3)
print(FID_value3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267]

In [62]:
df_cases_postgre2.insert(0,"FID",FID_value3)
df_cases_postgre2

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,...,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation,Keterangan,Latitude,Longitude
0,1,2020-05-28,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,129,0,129,...,0,61,51,15,28,4,4,NaN,-6.131373,106.701338
1,2,2020-05-28,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,7,0,7,...,0,13,17,0,16,0,1,NaN,-6.226911,106.809920
2,3,2020-05-28,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,408,2,406,...,3,42,55,13,22,7,13,NaN,-6.192572,106.769726
3,4,2020-05-28,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,168,0,168,...,1,64,37,8,15,4,10,NaN,-6.166612,106.903732
4,5,2020-05-28,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,...,3,27,42,9,27,1,5,NaN,-6.172725,106.797301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,263,2020-05-28,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,175,1,174,...,0,1,13,3,0,0,10,NaN,-5.803887,106.525306
263,264,2020-05-28,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,...,0,3,1,0,0,0,1,NaN,-6.135969,106.814264
264,265,2020-05-28,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,15,0,15,...,0,7,3,2,1,0,0,NaN,-6.207319,106.829340
265,266,2020-05-28,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,21,0,21,...,4,3,2,0,0,0,2,NaN,-6.146614,106.801046
266,267,2020-05-28,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,20,0,20,...,0,0,0,0,0,0,0,NaN,-5.977613,106.707241

In [63]:
print (nGlobal)

267

In [64]:
# Read in the data 10 most pupulation in DKI Jakarta 2020 per district
df_cases_postgre3 = pd.read_csv("https://raw.githubusercontent.com/cahyati/GIS_Approach_on_Covid19/master/Standar%20Kelurahan%20Data%20Corona%20(29%20MEI%202020%20Pukul%2009.00).csv")
# View the top rows of the dataset
df_cases_postgre3

,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,PDP,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation,Keterangan
0,2020-05-29,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,130,0,130,60,0,60,51,15,29,4,3,NaN
1,2020-05-29,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,6,0,6,13,0,13,17,0,16,0,1,NaN
2,2020-05-29,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,422,2,420,45,3,42,55,13,22,7,13,NaN
3,2020-05-29,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,161,0,161,67,2,65,37,8,15,4,10,NaN
4,2020-05-29,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,30,3,27,43,9,27,1,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2020-05-29,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,195,1,194,2,0,2,13,3,0,0,10,NaN
263,2020-05-29,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,3,0,3,1,0,0,0,1,NaN
264,2020-05-29,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,13,0,13,7,0,7,3,2,1,0,0,NaN
265,2020-05-29,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,26,1,25,8,5,3,2,0,0,0,2,NaN
266,2020-05-29,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,19,0,19,0,0,0,0,0,0,0,0,NaN

In [65]:
# Get latitude and longitude of all districts
list_latitude2 = []   # create empty lists for latitude
list_longitude2 = []  # create empty lists for longitude
for index, row in df_cases_postgre3.iterrows(): # iterate over rows in dataframe
    District = row['nama_kelurahan']       
    query = str(District)+', Jakarta'
    results = geocoder.geocode(query)   
    latitude2 = results[0]['geometry']['lat']
    longitude2 = results[0]['geometry']['lng']
    list_latitude2.append(latitude2)
    list_longitude2.append(longitude2)
# create new columns from lists    
df_cases_postgre3['Latitude'] = list_latitude2   
df_cases_postgre3['Longitude'] = list_longitude2
df_cases_postgre3

,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,PDP,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation,Keterangan,Latitude,Longitude
0,2020-05-29,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,130,0,130,60,0,60,51,15,29,4,3,NaN,-6.131373,106.701338
1,2020-05-29,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,6,0,6,13,0,13,17,0,16,0,1,NaN,-6.226911,106.809920
2,2020-05-29,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,422,2,420,45,3,42,55,13,22,7,13,NaN,-6.192572,106.769726
3,2020-05-29,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,161,0,161,67,2,65,37,8,15,4,10,NaN,-6.166612,106.903732
4,2020-05-29,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,30,3,27,43,9,27,1,6,NaN,-6.172725,106.797301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2020-05-29,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,195,1,194,2,0,2,13,3,0,0,10,NaN,-5.803887,106.525306
263,2020-05-29,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,3,0,3,1,0,0,0,1,NaN,-6.135969,106.814264
264,2020-05-29,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,13,0,13,7,0,7,3,2,1,0,0,NaN,-6.207319,106.829340
265,2020-05-29,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,26,1,25,8,5,3,2,0,0,0,2,NaN,-6.146614,106.801046
266,2020-05-29,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,19,0,19,0,0,0,0,0,0,0,0,NaN,-5.977613,106.707241

In [66]:
print (nGlobal)

267

In [67]:
nIndex = nGlobal -1
print (nIndex)

266

In [68]:
FID_value4 = []

for index, row in df_cases_postgre3.iterrows():
    #FID = row['FID']
    nGlobal = nGlobal + 1
    fid4 = nGlobal
    FID_value4.append(fid4)
print(FID_value4)

[268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534]

In [69]:
df_cases_postgre3.insert(0,"FID",FID_value4)
df_cases_postgre3

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,...,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation,Keterangan,Latitude,Longitude
0,268,2020-05-29,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,130,0,130,...,0,60,51,15,29,4,3,NaN,-6.131373,106.701338
1,269,2020-05-29,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,6,0,6,...,0,13,17,0,16,0,1,NaN,-6.226911,106.809920
2,270,2020-05-29,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,422,2,420,...,3,42,55,13,22,7,13,NaN,-6.192572,106.769726
3,271,2020-05-29,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,161,0,161,...,2,65,37,8,15,4,10,NaN,-6.166612,106.903732
4,272,2020-05-29,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,...,3,27,43,9,27,1,6,NaN,-6.172725,106.797301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,530,2020-05-29,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,195,1,194,...,0,2,13,3,0,0,10,NaN,-5.803887,106.525306
263,531,2020-05-29,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,...,0,3,1,0,0,0,1,NaN,-6.135969,106.814264
264,532,2020-05-29,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,13,0,13,...,0,7,3,2,1,0,0,NaN,-6.207319,106.829340
265,533,2020-05-29,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,26,1,25,...,5,3,2,0,0,0,2,NaN,-6.146614,106.801046
266,534,2020-05-29,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,19,0,19,...,0,0,0,0,0,0,0,NaN,-5.977613,106.707241

In [70]:
print(nIndex)

266

In [71]:
index_postgre = []

for index, row in df_cases_postgre3.iterrows():
    nIndex = nIndex + 1
    Indx = nIndex
    index_postgre.append(Indx)
print(index_postgre)

[267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533]

In [74]:
df_cases_postgre3.insert(0,"index",index_postgre)
df_cases_postgre3

,index,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,...,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation,Keterangan,Latitude,Longitude
0,267,268,2020-05-29,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,130,0,...,0,60,51,15,29,4,3,NaN,-6.131373,106.701338
1,268,269,2020-05-29,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,6,0,...,0,13,17,0,16,0,1,NaN,-6.226911,106.809920
2,269,270,2020-05-29,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,422,2,...,3,42,55,13,22,7,13,NaN,-6.192572,106.769726
3,270,271,2020-05-29,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,161,0,...,2,65,37,8,15,4,10,NaN,-6.166612,106.903732
4,271,272,2020-05-29,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,...,3,27,43,9,27,1,6,NaN,-6.172725,106.797301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,529,530,2020-05-29,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,195,1,...,0,2,13,3,0,0,10,NaN,-5.803887,106.525306
263,530,531,2020-05-29,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,...,0,3,1,0,0,0,1,NaN,-6.135969,106.814264
264,531,532,2020-05-29,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,13,0,...,0,7,3,2,1,0,0,NaN,-6.207319,106.829340
265,532,533,2020-05-29,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,26,1,...,5,3,2,0,0,0,2,NaN,-6.146614,106.801046
266,533,534,2020-05-29,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,19,0,...,0,0,0,0,0,0,0,NaN,-5.977613,106.707241

In [75]:
print(nGlobal)

534

In [72]:
df_cases_covid = df_cases_postgre2
table_covid = 'casesTB'

df_cases_covid.to_sql(table_covid, con)

In [73]:
print(table_covid)

casesTB

In [76]:
nIn = nGlobal - 267
nIn

267

In [77]:
df_cases_postgre3.columns

Index(['index', 'FID', 'Tanggal', 'ID_KEL', 'Nama_provinsi', 'nama_kota',
       'nama_kecamatan', 'nama_kelurahan', 'ODP', 'Proses_Pemantauan',
       'Selesai_Pemantauan', 'PDP', 'Masih_Dirawat', 'Pulang_dan_Sehat',
       'POSITIF', 'Dirawat', 'Sembuh', 'Meninggal', 'Self_Isolation',
       'Keterangan', 'Latitude', 'Longitude'],
      dtype='object')

In [78]:
df_cases_postgre3.to_sql(table_covid, con, if_exists = 'append', index=nIn)

# Postgre ICP

In [ ]:
# Connect to database (Note: The package psychopg2 is required for Postgres to work with SQLAlchemy)
engine2 = sqlalchemy.create_engine("postgres://postgres:p@ssw0rd69@localhost/Covid19")
con = engine2.connect()