# Data preparation (DB2)

In [1]:
import pandas as pd # library for data analsysis
import ibm_db

In [2]:
from opencage.geocoder import OpenCageGeocode
key = 'dc8aedff5e7d4bd196dafea349ce3cb8'
geocoder = OpenCageGeocode(key)
query = 'Jakarta, Indonesia'  
results = geocoder.geocode(query)

In [3]:
nIn = 0
nf = 0

In [4]:
# Read in the data Covid-19 cases per district (28 May,2020)
df_cases = pd.read_csv("C:/Users/user/Downloads/GIS_Approach_on_Covid19-master/StandarKelurahanDataCorona_28MEI2020Pukul09.00.csv")
# View the top rows of the dataset
df_cases

,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,PDP,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation
0,2020-05-28,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,129,0,129,61,0,61,51,15,28,4,4
1,2020-05-28,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,7,0,7,13,0,13,17,0,16,0,1
2,2020-05-28,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,408,2,406,45,3,42,55,13,22,7,13
3,2020-05-28,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,168,0,168,65,1,64,37,8,15,4,10
4,2020-05-28,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,30,3,27,42,9,27,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2020-05-28,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,175,1,174,1,0,1,13,3,0,0,10
263,2020-05-28,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,3,0,3,1,0,0,0,1
264,2020-05-28,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,15,0,15,7,0,7,3,2,1,0,0
265,2020-05-28,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,21,0,21,7,4,3,2,0,0,0,2
266,2020-05-28,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,20,0,20,0,0,0,0,0,0,0,0

In [5]:
FID_cases = []

for index, row in df_cases.iterrows():
    nf = nf + 1
    cases = nf
    FID_cases.append(cases)
print(FID_cases)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267]

In [6]:
df_cases.insert(0,"FID",FID_cases)
df_cases

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,PDP,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation
0,1,2020-05-28,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,129,0,129,61,0,61,51,15,28,4,4
1,2,2020-05-28,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,7,0,7,13,0,13,17,0,16,0,1
2,3,2020-05-28,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,408,2,406,45,3,42,55,13,22,7,13
3,4,2020-05-28,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,168,0,168,65,1,64,37,8,15,4,10
4,5,2020-05-28,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,30,3,27,42,9,27,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,263,2020-05-28,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,175,1,174,1,0,1,13,3,0,0,10
263,264,2020-05-28,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,3,0,3,1,0,0,0,1
264,265,2020-05-28,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,15,0,15,7,0,7,3,2,1,0,0
265,266,2020-05-28,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,21,0,21,7,4,3,2,0,0,0,2
266,267,2020-05-28,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,20,0,20,0,0,0,0,0,0,0,0

In [7]:
# Get latitude and longitude of all districts
list_lat = []   # create empty lists for latitude
list_long = []  # create empty lists for longitude
for index, row in df_cases.iterrows(): # iterate over rows in dataframe
    District = row['nama_kelurahan']       
    query = str(District)+', Jakarta'
    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']
    list_lat.append(lat)
    list_long.append(long)
# create new columns from lists    
df_cases ['Latitude'] = list_lat   
df_cases ['Longitude'] = list_long
df_cases

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,PDP,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation,Latitude,Longitude
0,1,2020-05-28,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,129,0,129,61,0,61,51,15,28,4,4,-6.131373,106.701338
1,2,2020-05-28,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,7,0,7,13,0,13,17,0,16,0,1,-6.226586,106.811562
2,3,2020-05-28,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,408,2,406,45,3,42,55,13,22,7,13,-6.192572,106.769726
3,4,2020-05-28,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,168,0,168,65,1,64,37,8,15,4,10,-6.166612,106.903732
4,5,2020-05-28,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,30,3,27,42,9,27,1,5,-6.172725,106.797301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,263,2020-05-28,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,175,1,174,1,0,1,13,3,0,0,10,-5.798548,106.498480
263,264,2020-05-28,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,3,0,3,1,0,0,0,1,-6.135969,106.814264
264,265,2020-05-28,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,15,0,15,7,0,7,3,2,1,0,0,-6.207319,106.829340
265,266,2020-05-28,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,21,0,21,7,4,3,2,0,0,0,2,-6.146614,106.801046
266,267,2020-05-28,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,20,0,20,0,0,0,0,0,0,0,0,-5.977546,106.707305

In [8]:
print(nIn)
print(nf)

0
267

In [9]:
print(type(df_cases))

<class 'pandas.core.frame.DataFrame'>

In [10]:
df_cases.to_csv('28May.csv',index=False)

In [11]:
conn=ibm_db.connect("DATABASE=DEMO;HOSTNAME=localhost;PORT=50000;PROTOCOL=TCPIP;UID=db2admin;PWD=p@ssw0rd",'','')
connState = ibm_db.active(conn)
print(connState)

True

In [12]:
clientinfo = ibm_db.client_info(conn)
if clientinfo:
    print("DRIVER_NAME: string(%d) \"%s\"" % (len(clientinfo.DRIVER_NAME), clientinfo.DRIVER_NAME))
    print("DRIVER_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_VER), clientinfo.DRIVER_VER))
    print("DATA_SOURCE_NAME: string(%d) \"%s\"" % (len(clientinfo.DATA_SOURCE_NAME), clientinfo.DATA_SOURCE_NAME))
    print("DRIVER_ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_ODBC_VER), clientinfo.DRIVER_ODBC_VER))
    print("ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.ODBC_VER), clientinfo.ODBC_VER))
    print("ODBC_SQL_CONFORMANCE: string(%d) \"%s\"" % (len(clientinfo.ODBC_SQL_CONFORMANCE), clientinfo.ODBC_SQL_CONFORMANCE))
    print("APPL_CODEPAGE: int(%s)" % clientinfo.APPL_CODEPAGE)
    print("CONN_CODEPAGE: int(%s)" % clientinfo.CONN_CODEPAGE)

DRIVER_NAME: string(10) "DB2CLI.DLL"
DRIVER_VER: string(10) "11.05.0400"
DATA_SOURCE_NAME: string(4) "DEMO"
DRIVER_ODBC_VER: string(5) "03.51"
ODBC_VER: string(10) "03.01.0000"
ODBC_SQL_CONFORMANCE: string(8) "EXTENDED"
APPL_CODEPAGE: int(1252)
CONN_CODEPAGE: int(1208)

In [13]:
sql_stmt = "INSERT INTO COVID.COVID19TB VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);"
stmt = ibm_db.prepare(conn, sql_stmt)
dict_of_df = df_cases.to_dict()

#print(len(dict_of_df['FID']))
#print(type(dict_of_df['FID'][key]))

for key in range(len(dict_of_df['FID'])):
    ibm_db.bind_param(stmt, 1, dict_of_df['FID'][key])
    ibm_db.bind_param(stmt, 2, dict_of_df['Tanggal'][key])
    ibm_db.bind_param(stmt, 3, str(dict_of_df['ID_KEL'][key]))
    ibm_db.bind_param(stmt, 4, dict_of_df['Nama_provinsi'][key])
    ibm_db.bind_param(stmt, 5, dict_of_df['nama_kota'][key])
    ibm_db.bind_param(stmt, 6, dict_of_df['nama_kecamatan'][key])
    ibm_db.bind_param(stmt, 7, dict_of_df['nama_kelurahan'][key])
    ibm_db.bind_param(stmt, 8, dict_of_df['ODP'][key])
    ibm_db.bind_param(stmt, 9, dict_of_df['Proses_Pemantauan'][key])
    ibm_db.bind_param(stmt, 10, dict_of_df['Selesai_Pemantauan'][key])
    ibm_db.bind_param(stmt, 11, dict_of_df['PDP'][key])
    ibm_db.bind_param(stmt, 12, dict_of_df['Masih_Dirawat'][key])
    ibm_db.bind_param(stmt, 13, dict_of_df['Pulang_dan_Sehat'][key])
    ibm_db.bind_param(stmt, 14, dict_of_df['POSITIF'][key])
    ibm_db.bind_param(stmt, 15, dict_of_df['Dirawat'][key])
    ibm_db.bind_param(stmt, 16, dict_of_df['Sembuh'][key])
    ibm_db.bind_param(stmt, 17, dict_of_df['Meninggal'][key])
    ibm_db.bind_param(stmt, 18, dict_of_df['Self_Isolation'][key])
    ibm_db.bind_param(stmt, 19, dict_of_df['Latitude'][key])
    ibm_db.bind_param(stmt, 20, dict_of_df['Longitude'][key])
    ibm_db.execute(stmt)
print('success')

success

In [14]:
nIn = 267
nf = 267

In [15]:
# Read in the data Covid-19 cases per district (2020)
df_cases = pd.read_csv("C:/Users/user/Downloads/GIS_Approach_on_Covid19-master/StandarKelurahanDataCorona_29MEI2020Pukul09.00.csv")
# View the top rows of the dataset
df_cases

,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,PDP,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation
0,2020-05-29,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,130,0,130,60,0,60,51,15,29,4,3
1,2020-05-29,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,6,0,6,13,0,13,17,0,16,0,1
2,2020-05-29,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,422,2,420,45,3,42,55,13,22,7,13
3,2020-05-29,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,161,0,161,67,2,65,37,8,15,4,10
4,2020-05-29,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,30,3,27,43,9,27,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2020-05-29,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,195,1,194,2,0,2,13,3,0,0,10
263,2020-05-29,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,3,0,3,1,0,0,0,1
264,2020-05-29,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,13,0,13,7,0,7,3,2,1,0,0
265,2020-05-29,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,26,1,25,8,5,3,2,0,0,0,2
266,2020-05-29,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,19,0,19,0,0,0,0,0,0,0,0

In [16]:
FID_cases = []

for index, row in df_cases.iterrows():
    nf = nf + 1
    cases = nf
    FID_cases.append(cases)
print(FID_cases)

[268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534]

In [17]:
df_cases.insert(0,"FID",FID_cases)
df_cases

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,PDP,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation
0,268,2020-05-29,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,130,0,130,60,0,60,51,15,29,4,3
1,269,2020-05-29,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,6,0,6,13,0,13,17,0,16,0,1
2,270,2020-05-29,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,422,2,420,45,3,42,55,13,22,7,13
3,271,2020-05-29,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,161,0,161,67,2,65,37,8,15,4,10
4,272,2020-05-29,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,30,3,27,43,9,27,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,530,2020-05-29,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,195,1,194,2,0,2,13,3,0,0,10
263,531,2020-05-29,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,3,0,3,1,0,0,0,1
264,532,2020-05-29,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,13,0,13,7,0,7,3,2,1,0,0
265,533,2020-05-29,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,26,1,25,8,5,3,2,0,0,0,2
266,534,2020-05-29,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,19,0,19,0,0,0,0,0,0,0,0

In [18]:
# Get latitude and longitude of all districts
list_lat = []   # create empty lists for latitude
list_long = []  # create empty lists for longitude
for index, row in df_cases.iterrows(): # iterate over rows in dataframe
    District = row['nama_kelurahan']       
    query = str(District)+', Jakarta'
    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']
    list_lat.append(lat)
    list_long.append(long)
# create new columns from lists    
df_cases ['Latitude'] = list_lat   
df_cases ['Longitude'] = list_long
df_cases

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses_Pemantauan,Selesai_Pemantauan,PDP,Masih_Dirawat,Pulang_dan_Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self_Isolation,Latitude,Longitude
0,268,2020-05-29,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,130,0,130,60,0,60,51,15,29,4,3,-6.131373,106.701338
1,269,2020-05-29,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,6,0,6,13,0,13,17,0,16,0,1,-6.226586,106.811562
2,270,2020-05-29,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,422,2,420,45,3,42,55,13,22,7,13,-6.192572,106.769726
3,271,2020-05-29,3172061001,DKI JAKARTA,JAKARTA UTARA,KELAPA GADING,KELAPA GADING TIMUR,161,0,161,67,2,65,37,8,15,4,10,-6.166612,106.903732
4,272,2020-05-29,3173021003,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,TOMANG,114,1,113,30,3,27,43,9,27,1,6,-6.172725,106.797301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,530,2020-05-29,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,195,1,194,2,0,2,13,3,0,0,10,-5.798548,106.498480
263,531,2020-05-29,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,3,0,3,1,0,0,0,1,-6.135969,106.814264
264,532,2020-05-29,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,13,0,13,7,0,7,3,2,1,0,0,-6.207319,106.829340
265,533,2020-05-29,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,26,1,25,8,5,3,2,0,0,0,2,-6.146614,106.801046
266,534,2020-05-29,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,19,0,19,0,0,0,0,0,0,0,0,-5.977546,106.707305

In [19]:
print(nIn)
print(nf)

267
534

In [20]:
print(type(df_cases))

<class 'pandas.core.frame.DataFrame'>

In [21]:
df_cases.to_csv('29May.csv',index=False)

In [22]:
clientinfo = ibm_db.client_info(conn)
if clientinfo:
    print("DRIVER_NAME: string(%d) \"%s\"" % (len(clientinfo.DRIVER_NAME), clientinfo.DRIVER_NAME))
    print("DRIVER_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_VER), clientinfo.DRIVER_VER))
    print("DATA_SOURCE_NAME: string(%d) \"%s\"" % (len(clientinfo.DATA_SOURCE_NAME), clientinfo.DATA_SOURCE_NAME))
    print("DRIVER_ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_ODBC_VER), clientinfo.DRIVER_ODBC_VER))
    print("ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.ODBC_VER), clientinfo.ODBC_VER))
    print("ODBC_SQL_CONFORMANCE: string(%d) \"%s\"" % (len(clientinfo.ODBC_SQL_CONFORMANCE), clientinfo.ODBC_SQL_CONFORMANCE))
    print("APPL_CODEPAGE: int(%s)" % clientinfo.APPL_CODEPAGE)
    print("CONN_CODEPAGE: int(%s)" % clientinfo.CONN_CODEPAGE)

DRIVER_NAME: string(10) "DB2CLI.DLL"
DRIVER_VER: string(10) "11.05.0400"
DATA_SOURCE_NAME: string(4) "DEMO"
DRIVER_ODBC_VER: string(5) "03.51"
ODBC_VER: string(10) "03.01.0000"
ODBC_SQL_CONFORMANCE: string(8) "EXTENDED"
APPL_CODEPAGE: int(1252)
CONN_CODEPAGE: int(1208)

In [23]:
sql_stmt = "INSERT INTO COVID.COVID19TB VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);"
stmt = ibm_db.prepare(conn, sql_stmt)
dict_of_df = df_cases.to_dict()

for key in range(len(dict_of_df['FID'])):
    ibm_db.bind_param(stmt, 1, dict_of_df['FID'][key])
    ibm_db.bind_param(stmt, 2, dict_of_df['Tanggal'][key])
    ibm_db.bind_param(stmt, 3, str(dict_of_df['ID_KEL'][key]))
    ibm_db.bind_param(stmt, 4, dict_of_df['Nama_provinsi'][key])
    ibm_db.bind_param(stmt, 5, dict_of_df['nama_kota'][key])
    ibm_db.bind_param(stmt, 6, dict_of_df['nama_kecamatan'][key])
    ibm_db.bind_param(stmt, 7, dict_of_df['nama_kelurahan'][key])
    ibm_db.bind_param(stmt, 8, dict_of_df['ODP'][key])
    ibm_db.bind_param(stmt, 9, dict_of_df['Proses_Pemantauan'][key])
    ibm_db.bind_param(stmt, 10, dict_of_df['Selesai_Pemantauan'][key])
    ibm_db.bind_param(stmt, 11, dict_of_df['PDP'][key])
    ibm_db.bind_param(stmt, 12, dict_of_df['Masih_Dirawat'][key])
    ibm_db.bind_param(stmt, 13, dict_of_df['Pulang_dan_Sehat'][key])
    ibm_db.bind_param(stmt, 14, dict_of_df['POSITIF'][key])
    ibm_db.bind_param(stmt, 15, dict_of_df['Dirawat'][key])
    ibm_db.bind_param(stmt, 16, dict_of_df['Sembuh'][key])
    ibm_db.bind_param(stmt, 17, dict_of_df['Meninggal'][key])
    ibm_db.bind_param(stmt, 18, dict_of_df['Self_Isolation'][key])
    ibm_db.bind_param(stmt, 19, dict_of_df['Latitude'][key])
    ibm_db.bind_param(stmt, 20, dict_of_df['Longitude'][key])
    ibm_db.execute(stmt)
print('success')

success

In [24]:
# Read in the data Hospital for treatment covid-19
df_hospital = pd.read_csv("C:/Users/user/Downloads/GIS_Approach_on_Covid19-master/Hospital_for_treatment_covid19.csv")
# View the top rows of the dataset
df_hospital

                        Hospital             City             District
0           RSPI Sulianti Saroso    Jakarta Utara        Tanjung Priok
1              RSUP Persahabatan    Jakarta Timur          Pulo Gadung
2           RSPAD Gatot Soebroto    Jakarta Pusat                Senen
3                 RSUP Fatmawati  Jakarta Selatan             Cilandak
4   RSU Bhayangkara Said Sukanto    Jakarta Timur          Kramat Jati
5               RSAL Mintohardjo    Jakarta Pusat          Tanah Abang
6                RSUD Cengkareng    Jakarta Barat           Cengkareng
7              RSUD Pasar Minggu  Jakarta Selatan         Pasar Minggu
8               RSKD Duren Sawit    Jakarta Timur          Duren Sawit
9                       RS Pelni    Jakarta Barat             Palmerah
10                  RSUD Tarakan    Jakarta Pusat               Cideng
11                     RSUD Koja    Jakarta Utara                 Koja
12            RSU Pertamina Jaya    Jakarta Pusat  Cempaka Putih Timur

In [25]:
list2_lat = []   # create empty lists for latitude
list2_long = []  # create empty lists for longitude
for index, row in df_hospital.iterrows(): # iterate over rows in dataframe
    hosp = row['Hospital']
    distr = row['District']       
    query = str(hosp) + ', ' + str(distr) + ', Jakarta'
    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']
    list2_lat.append(lat)
    list2_long.append(long)
# create new columns from lists    
df_hospital['Latitude'] = list2_lat   
df_hospital['Longitude'] = list2_long
df_hospital

,Hospital,City,District,Latitude,Longitude
0,RSPI Sulianti Saroso,Jakarta Utara,Tanjung Priok,-6.129834,106.862590
1,RSUP Persahabatan,Jakarta Timur,Pulo Gadung,-6.204693,106.884848
2,RSPAD Gatot Soebroto,Jakarta Pusat,Senen,-6.173000,106.841800
3,RSUP Fatmawati,Jakarta Selatan,Cilandak,-6.297550,106.783930
4,RSU Bhayangkara Said Sukanto,Jakarta Timur,Kramat Jati,-6.234440,106.786670
5,RSAL Mintohardjo,Jakarta Pusat,Tanah Abang,-6.214620,106.845130
6,RSUD Cengkareng,Jakarta Barat,Cengkareng,-6.142970,106.734887
7,RSUD Pasar Minggu,Jakarta Selatan,Pasar Minggu,-6.285487,106.842329
8,RSKD Duren Sawit,Jakarta Timur,Duren Sawit,-6.214620,106.845130
9,RS Pelni,Jakarta Barat,Palmerah,-6.193061,106.803976
10,RSUD Tarakan,Jakarta Pusat,Cideng,-6.171638,106.810346
11,RSUD Koja,Jakarta Utara,Koja,-6.108922,106.900060
12,RSU Pertamina Jaya,Jakarta Pusat,Cempaka Putih Timur,-6.214620,106.845130

In [26]:
FID_value = []
n = 0
for index, row in df_hospital.iterrows():
    #FID = row['FID']
    n = n + 1
    fid = n
    FID_value.append(fid)
print(FID_value)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [27]:
df_hospital.insert(0,"FID",FID_value)
df_hospital

,FID,Hospital,City,District,Latitude,Longitude
0,1,RSPI Sulianti Saroso,Jakarta Utara,Tanjung Priok,-6.129834,106.862590
1,2,RSUP Persahabatan,Jakarta Timur,Pulo Gadung,-6.204693,106.884848
2,3,RSPAD Gatot Soebroto,Jakarta Pusat,Senen,-6.173000,106.841800
3,4,RSUP Fatmawati,Jakarta Selatan,Cilandak,-6.297550,106.783930
4,5,RSU Bhayangkara Said Sukanto,Jakarta Timur,Kramat Jati,-6.234440,106.786670
5,6,RSAL Mintohardjo,Jakarta Pusat,Tanah Abang,-6.214620,106.845130
6,7,RSUD Cengkareng,Jakarta Barat,Cengkareng,-6.142970,106.734887
7,8,RSUD Pasar Minggu,Jakarta Selatan,Pasar Minggu,-6.285487,106.842329
8,9,RSKD Duren Sawit,Jakarta Timur,Duren Sawit,-6.214620,106.845130
9,10,RS Pelni,Jakarta Barat,Palmerah,-6.193061,106.803976
10,11,RSUD Tarakan,Jakarta Pusat,Cideng,-6.171638,106.810346
11,12,RSUD Koja,Jakarta Utara,Koja,-6.108922,106.900060
12,13,RSU Pertamina Jaya,Jakarta Pusat,Cempaka Putih Timur,-6.214620,106.845130

In [28]:
df_hospital.to_csv('HospitalLatLong_new.csv',index=False)

In [29]:
clientinfo = ibm_db.client_info(conn)
if clientinfo:
    print("DRIVER_NAME: string(%d) \"%s\"" % (len(clientinfo.DRIVER_NAME), clientinfo.DRIVER_NAME))
    print("DRIVER_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_VER), clientinfo.DRIVER_VER))
    print("DATA_SOURCE_NAME: string(%d) \"%s\"" % (len(clientinfo.DATA_SOURCE_NAME), clientinfo.DATA_SOURCE_NAME))
    print("DRIVER_ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_ODBC_VER), clientinfo.DRIVER_ODBC_VER))
    print("ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.ODBC_VER), clientinfo.ODBC_VER))
    print("ODBC_SQL_CONFORMANCE: string(%d) \"%s\"" % (len(clientinfo.ODBC_SQL_CONFORMANCE), clientinfo.ODBC_SQL_CONFORMANCE))
    print("APPL_CODEPAGE: int(%s)" % clientinfo.APPL_CODEPAGE)
    print("CONN_CODEPAGE: int(%s)" % clientinfo.CONN_CODEPAGE)

DRIVER_NAME: string(10) "DB2CLI.DLL"
DRIVER_VER: string(10) "11.05.0400"
DATA_SOURCE_NAME: string(4) "DEMO"
DRIVER_ODBC_VER: string(5) "03.51"
ODBC_VER: string(10) "03.01.0000"
ODBC_SQL_CONFORMANCE: string(8) "EXTENDED"
APPL_CODEPAGE: int(1252)
CONN_CODEPAGE: int(1208)

In [30]:
sql_stmt = "INSERT INTO COVID.HOSPITALTB VALUES(?,?,?,?,?,?);"
stmt = ibm_db.prepare(conn, sql_stmt)
dict_of_df = df_hospital.to_dict()

for key in range(len(dict_of_df['FID'])):
    ibm_db.bind_param(stmt, 1, dict_of_df['FID'][key])
    ibm_db.bind_param(stmt, 2, dict_of_df['Hospital'][key])
    ibm_db.bind_param(stmt, 3, dict_of_df['City'][key])
    ibm_db.bind_param(stmt, 4, dict_of_df['District'][key])
    ibm_db.bind_param(stmt, 5, dict_of_df['Latitude'][key])
    ibm_db.bind_param(stmt, 6, dict_of_df['Longitude'][key])
    ibm_db.execute(stmt)
print('success')

success

In [31]:
df_population = pd.read_csv("C:/Users/user/Downloads/GIS_Approach_on_Covid19-master/population2020_DKI_Jakarta.csv")
# View the top rows of the dataset
df_population

              City  Total_population_2020_people_per_km2
0    Jakarta Pusat                                 23877
1    Jakarta Barat                                 19592
2    Jakarta Timur                                 16924
3  Jakarta Selatan                                 16600
4    Jakarta Utara                                 12409
5      Kep. Seribu                                  3334

In [32]:
Index_value = []
In = 0
for index, row in df_population.iterrows():
    #FID = row['FID']
    In = In + 1
    Index = In
    Index_value.append(Index)
print(Index_value)

[1, 2, 3, 4, 5, 6]

In [33]:
df_population.insert(0,"Index",Index_value)
df_population

   Index             City  Total_population_2020_people_per_km2
0      1    Jakarta Pusat                                 23877
1      2    Jakarta Barat                                 19592
2      3    Jakarta Timur                                 16924
3      4  Jakarta Selatan                                 16600
4      5    Jakarta Utara                                 12409
5      6      Kep. Seribu                                  3334

In [34]:
df_population.to_csv('population.csv',index=False)

In [35]:
clientinfo = ibm_db.client_info(conn)
if clientinfo:
    print("DRIVER_NAME: string(%d) \"%s\"" % (len(clientinfo.DRIVER_NAME), clientinfo.DRIVER_NAME))
    print("DRIVER_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_VER), clientinfo.DRIVER_VER))
    print("DATA_SOURCE_NAME: string(%d) \"%s\"" % (len(clientinfo.DATA_SOURCE_NAME), clientinfo.DATA_SOURCE_NAME))
    print("DRIVER_ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_ODBC_VER), clientinfo.DRIVER_ODBC_VER))
    print("ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.ODBC_VER), clientinfo.ODBC_VER))
    print("ODBC_SQL_CONFORMANCE: string(%d) \"%s\"" % (len(clientinfo.ODBC_SQL_CONFORMANCE), clientinfo.ODBC_SQL_CONFORMANCE))
    print("APPL_CODEPAGE: int(%s)" % clientinfo.APPL_CODEPAGE)
    print("CONN_CODEPAGE: int(%s)" % clientinfo.CONN_CODEPAGE)

DRIVER_NAME: string(10) "DB2CLI.DLL"
DRIVER_VER: string(10) "11.05.0400"
DATA_SOURCE_NAME: string(4) "DEMO"
DRIVER_ODBC_VER: string(5) "03.51"
ODBC_VER: string(10) "03.01.0000"
ODBC_SQL_CONFORMANCE: string(8) "EXTENDED"
APPL_CODEPAGE: int(1252)
CONN_CODEPAGE: int(1208)

In [36]:
sql_stmt = "INSERT INTO COVID.POPULATIONTB VALUES(?,?,?);"
stmt = ibm_db.prepare(conn, sql_stmt)
dict_of_df = df_population.to_dict()

for key in range(len(dict_of_df['Index'])):
    ibm_db.bind_param(stmt, 1, dict_of_df['Index'][key])
    ibm_db.bind_param(stmt, 2, dict_of_df['City'][key])
    ibm_db.bind_param(stmt, 3, dict_of_df['Total_population_2020_people_per_km2'][key])
    ibm_db.execute(stmt)
print('success')

success

In [37]:
df_most_population = pd.read_csv("C:/Users/user/Downloads/GIS_Approach_on_Covid19-master/10_kelurahan terpadat_DKI_Jakarta.csv")
# View the top rows of the dataset
df_most_population

         district  Total_population_2020_people_per_km2
0      Kali_Anyar                                 95676
1    Kampung_Rawa                                 91441
2           Galur                                 89160
3    Tanah_Tinggi                                 77367
4       Kerendang                                 76343
5    Utan_Panjang                                 69559
6   Jembatan_Besi                                 67874
7       Keagungan                                 67717
8  Kampung_Melayu                                 66594
9    Karang_Anyar                                 65141

In [38]:
Index_value = []
In = 0
for index, row in df_most_population.iterrows():
    #FID = row['FID']
    In = In + 1
    Index = In
    Index_value.append(Index)
print(Index_value)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
df_most_population.insert(0,"Index",Index_value)
df_most_population

   Index        district  Total_population_2020_people_per_km2
0      1      Kali_Anyar                                 95676
1      2    Kampung_Rawa                                 91441
2      3           Galur                                 89160
3      4    Tanah_Tinggi                                 77367
4      5       Kerendang                                 76343
5      6    Utan_Panjang                                 69559
6      7   Jembatan_Besi                                 67874
7      8       Keagungan                                 67717
8      9  Kampung_Melayu                                 66594
9     10    Karang_Anyar                                 65141

In [40]:
df_most_population.to_csv('Mostpopulation.csv',index=False)

In [41]:
clientinfo = ibm_db.client_info(conn)
if clientinfo:
    print("DRIVER_NAME: string(%d) \"%s\"" % (len(clientinfo.DRIVER_NAME), clientinfo.DRIVER_NAME))
    print("DRIVER_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_VER), clientinfo.DRIVER_VER))
    print("DATA_SOURCE_NAME: string(%d) \"%s\"" % (len(clientinfo.DATA_SOURCE_NAME), clientinfo.DATA_SOURCE_NAME))
    print("DRIVER_ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_ODBC_VER), clientinfo.DRIVER_ODBC_VER))
    print("ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.ODBC_VER), clientinfo.ODBC_VER))
    print("ODBC_SQL_CONFORMANCE: string(%d) \"%s\"" % (len(clientinfo.ODBC_SQL_CONFORMANCE), clientinfo.ODBC_SQL_CONFORMANCE))
    print("APPL_CODEPAGE: int(%s)" % clientinfo.APPL_CODEPAGE)
    print("CONN_CODEPAGE: int(%s)" % clientinfo.CONN_CODEPAGE)

DRIVER_NAME: string(10) "DB2CLI.DLL"
DRIVER_VER: string(10) "11.05.0400"
DATA_SOURCE_NAME: string(4) "DEMO"
DRIVER_ODBC_VER: string(5) "03.51"
ODBC_VER: string(10) "03.01.0000"
ODBC_SQL_CONFORMANCE: string(8) "EXTENDED"
APPL_CODEPAGE: int(1252)
CONN_CODEPAGE: int(1208)

In [42]:
sql_stmt = "INSERT INTO COVID.MOSTPOPULATIONTB VALUES(?,?,?);"
stmt = ibm_db.prepare(conn, sql_stmt)
dict_of_df = df_most_population.to_dict()

for key in range(len(dict_of_df['Index'])):
    ibm_db.bind_param(stmt, 1, dict_of_df['Index'][key])
    ibm_db.bind_param(stmt, 2, dict_of_df['district'][key])
    ibm_db.bind_param(stmt, 3, dict_of_df['Total_population_2020_people_per_km2'][key])
    ibm_db.execute(stmt)
print('success')

success

In [43]:
df_vanue = pd.read_csv("C:/Users/user/Downloads/GIS_Approach_on_Covid19-master/vanues.csv")
# View the top rows of the dataset
df_vanue

,FID,name,categories,Latitude,Longitude
0,1,Warung Nasi Bunda,Indonesian Restaurant,-6.171549,106.808877
1,2,Kopi Kebut Nitro Bar,Coffee Shop,-6.173219,106.811754
2,3,McDonald's Cideng,Fast Food Restaurant,-6.173391,106.811314
3,4,Bubur Ayam Musi,Breakfast Spot,-6.174420,106.809554
4,5,Starbucks,Coffee Shop,-6.175441,106.812220
5,6,Petrof Piano,Music Venue,-6.172733,106.811713
6,7,Pondok Aroma Laut,Seafood Restaurant,-6.171484,106.808930
7,8,Suan Thai,Thai Restaurant,-6.173744,106.811701
8,9,favehotel Tanah Abang - Cideng,Hotel,-6.173586,106.811802
9,10,Focus Nusantara - Camera & Photography Shop,Camera Store,-6.175639,106.812901
10,11,Sate Khas Senayan,Indonesian Restaurant,-6.175524,106.812054
11,12,Roemah Noni,Indonesian Restaurant,-6.172590,106.815097
12,13,Royal City Hotel,Hotel,-6.171874,106.808127
13,14,Maxx Coffee Cideng,Coffee Shop,-6.175761,106.811738
14,15,McDonald's,Fast Food Restaurant,-6.173762,106.811106
15,16,Burger King,Fast Food Restaurant,-6.172196,106.811417
16,17,Wita Tour Head Office,Office,-6.170505,106.814110
17,18,Pondol,Asian Restaurant,-6.176039,106.810050
18,19,Gramedia,Bookstore,-6.171733,106.808911
19,20,Pondol (Pondok Es Cendol),Indonesian Restaurant,-6.176257,106.810023
20,21,Lawson,Convenience Store,-6.171289,106.808703
21,22,Depot Es & Masakan Indonesia Nini Thowong,Ice Cream Shop,-6.174463,106.813406
22,23,Focus Nusantara,Camera Store,-6.175629,106.812945
23,24,Huize Trivelli (Heritage Resto & Patissier),Indonesian Restaurant,-6.176266,106.810599
24,25,Lynt Hotel,Hotel,-6.169046,106.810864
25,26,Bale Lombok - Spesialis ayam taliwang,Indonesian Restaurant,-6.176257,106.810561
26,27,KFC Cideng Jakarta Pusat,American Restaurant,-6.175689,106.812037
27,28,Waroenk Kito,Asian Restaurant,-6.170086,106.808407
28,29,Bale Lombok,Indonesian Restaurant,-6.176337,106.810579

In [44]:
clientinfo = ibm_db.client_info(conn)
if clientinfo:
    print("DRIVER_NAME: string(%d) \"%s\"" % (len(clientinfo.DRIVER_NAME), clientinfo.DRIVER_NAME))
    print("DRIVER_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_VER), clientinfo.DRIVER_VER))
    print("DATA_SOURCE_NAME: string(%d) \"%s\"" % (len(clientinfo.DATA_SOURCE_NAME), clientinfo.DATA_SOURCE_NAME))
    print("DRIVER_ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_ODBC_VER), clientinfo.DRIVER_ODBC_VER))
    print("ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.ODBC_VER), clientinfo.ODBC_VER))
    print("ODBC_SQL_CONFORMANCE: string(%d) \"%s\"" % (len(clientinfo.ODBC_SQL_CONFORMANCE), clientinfo.ODBC_SQL_CONFORMANCE))
    print("APPL_CODEPAGE: int(%s)" % clientinfo.APPL_CODEPAGE)
    print("CONN_CODEPAGE: int(%s)" % clientinfo.CONN_CODEPAGE)

DRIVER_NAME: string(10) "DB2CLI.DLL"
DRIVER_VER: string(10) "11.05.0400"
DATA_SOURCE_NAME: string(4) "DEMO"
DRIVER_ODBC_VER: string(5) "03.51"
ODBC_VER: string(10) "03.01.0000"
ODBC_SQL_CONFORMANCE: string(8) "EXTENDED"
APPL_CODEPAGE: int(1252)
CONN_CODEPAGE: int(1208)

In [48]:
print(type(dict_of_df['FID'][key]))
print(type(dict_of_df['name'][key]))
print(type(dict_of_df['categories'][key]))
print(type(dict_of_df['Latitude'][key]))
print(type(dict_of_df['Longitude'][key]))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>

In [50]:
sql_stmt = "INSERT INTO COVID.VANUETB VALUES(?,?,?,?,?);"
stmt = ibm_db.prepare(conn, sql_stmt)
dict_of_df = df_vanue.to_dict()

for key in range(len(dict_of_df['FID'])):
    ibm_db.bind_param(stmt, 1, dict_of_df['FID'][key])
    ibm_db.bind_param(stmt, 2, dict_of_df['name'][key])
    ibm_db.bind_param(stmt, 3, dict_of_df['categories'][key])
    ibm_db.bind_param(stmt, 4, dict_of_df['Latitude'][key])
    ibm_db.bind_param(stmt, 5, dict_of_df['Longitude'][key])
    ibm_db.execute(stmt)
print('success')

success