# Update database

In [1]:
import pandas as pd # library for data analsysis
#!conda install -c anaconda sqlalchemy --yes
import sqlalchemy
#!pip install psycopg2 
import psycopg2

In [2]:
from opencage.geocoder import OpenCageGeocode
key = 'dc8aedff5e7d4bd196dafea349ce3cb8'
geocoder = OpenCageGeocode(key)
query = 'Jakarta, Indonesia'  
results = geocoder.geocode(query)

In [3]:
nIn = 0
nf = 0

In [4]:
# Read in the data Covid-19 cases per district (20 September,2020)
df_cases_postgre = pd.read_csv("https://raw.githubusercontent.com/cahyati/GIS_Approach_on_Covid19/master/Standar%20Kelurahan%20Data%20Corona%20(20%20September%202020%20Pukul%2010.00).csv")
# View the top rows of the dataset
df_cases_postgre

,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,SUSPEK,Perawatan_RS,Isolasi_di_Rumah,Suspek_Meninggal,...,Selesai_Isolasi.3,DISCARDED,Meninggal,Selesai_Isolasi.4,POSITIF,Dirawat,Sembuh,Meninggal.1,Self_Isolation,Keterangan
0,2020-09-20,3172051003,DKI JAKARTA,JAKARTA UTARA,PADEMANGAN,ANCOL,350,0,51,0,...,455,6,0,6,167,5,127,2,33,NaN
1,2020-09-20,3173041007,DKI JAKARTA,JAKARTA BARAT,TAMBORA,ANGKE,322,4,22,2,...,401,25,0,25,111,2,95,2,12,NaN
2,2020-09-20,3175041005,DKI JAKARTA,JAKARTA TIMUR,KRAMAT JATI,BALE KAMBANG,191,6,14,1,...,349,23,0,23,93,5,74,1,13,NaN
3,2020-09-20,3175031003,DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,BALI MESTER,78,0,13,1,...,65,3,0,3,23,2,15,1,5,NaN
4,2020-09-20,3175101006,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,229,10,24,1,...,292,16,0,16,84,7,70,1,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2020-09-20,3175011006,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU SELATAN,360,9,15,8,...,566,81,0,81,174,6,142,6,20,NaN
263,2020-09-20,3175011002,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU UTARA,280,4,18,0,...,430,40,0,40,131,6,97,4,24,NaN
264,2020-09-20,3171031008,DKI JAKARTA,JAKARTA PUSAT,KEMAYORAN,UTAN PANJANG,287,3,24,2,...,269,18,0,18,150,3,85,7,55,NaN
265,2020-09-20,3172021007,DKI JAKARTA,JAKARTA UTARA,TANJUNG PRIOK,WARAKAS,314,8,55,2,...,578,46,0,46,185,5,145,4,31,NaN
266,2020-09-20,3173021007,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,WIJAYA KUSUMA,277,1,22,2,...,581,21,0,21,136,3,102,5,26,NaN

In [5]:
FID_cases = []

for index, row in df_cases_postgre.iterrows():
    nf = nf + 1
    cases = nf
    FID_cases.append(cases)
print(FID_cases)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267]

In [6]:
df_cases_postgre.insert(0,"FID",FID_cases)
df_cases_postgre

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,SUSPEK,Perawatan_RS,Isolasi_di_Rumah,...,Selesai_Isolasi.3,DISCARDED,Meninggal,Selesai_Isolasi.4,POSITIF,Dirawat,Sembuh,Meninggal.1,Self_Isolation,Keterangan
0,1,2020-09-20,3172051003,DKI JAKARTA,JAKARTA UTARA,PADEMANGAN,ANCOL,350,0,51,...,455,6,0,6,167,5,127,2,33,NaN
1,2,2020-09-20,3173041007,DKI JAKARTA,JAKARTA BARAT,TAMBORA,ANGKE,322,4,22,...,401,25,0,25,111,2,95,2,12,NaN
2,3,2020-09-20,3175041005,DKI JAKARTA,JAKARTA TIMUR,KRAMAT JATI,BALE KAMBANG,191,6,14,...,349,23,0,23,93,5,74,1,13,NaN
3,4,2020-09-20,3175031003,DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,BALI MESTER,78,0,13,...,65,3,0,3,23,2,15,1,5,NaN
4,5,2020-09-20,3175101006,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,229,10,24,...,292,16,0,16,84,7,70,1,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,263,2020-09-20,3175011006,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU SELATAN,360,9,15,...,566,81,0,81,174,6,142,6,20,NaN
263,264,2020-09-20,3175011002,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU UTARA,280,4,18,...,430,40,0,40,131,6,97,4,24,NaN
264,265,2020-09-20,3171031008,DKI JAKARTA,JAKARTA PUSAT,KEMAYORAN,UTAN PANJANG,287,3,24,...,269,18,0,18,150,3,85,7,55,NaN
265,266,2020-09-20,3172021007,DKI JAKARTA,JAKARTA UTARA,TANJUNG PRIOK,WARAKAS,314,8,55,...,578,46,0,46,185,5,145,4,31,NaN
266,267,2020-09-20,3173021007,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,WIJAYA KUSUMA,277,1,22,...,581,21,0,21,136,3,102,5,26,NaN

In [7]:
# Get latitude and longitude of all districts
list_lat = []   # create empty lists for latitude
list_long = []  # create empty lists for longitude
for index, row in df_cases_postgre.iterrows(): # iterate over rows in dataframe
    District = row['nama_kelurahan']       
    query = str(District)+', Jakarta'
    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']
    list_lat.append(lat)
    list_long.append(long)
# create new columns from lists    
df_cases_postgre ['Latitude'] = list_lat   
df_cases_postgre ['Longitude'] = list_long
df_cases_postgre

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,SUSPEK,Perawatan_RS,Isolasi_di_Rumah,...,Meninggal,Selesai_Isolasi.4,POSITIF,Dirawat,Sembuh,Meninggal.1,Self_Isolation,Keterangan,Latitude,Longitude
0,1,2020-09-20,3172051003,DKI JAKARTA,JAKARTA UTARA,PADEMANGAN,ANCOL,350,0,51,...,0,6,167,5,127,2,33,NaN,-6.128086,106.844865
1,2,2020-09-20,3173041007,DKI JAKARTA,JAKARTA BARAT,TAMBORA,ANGKE,322,4,22,...,0,25,111,2,95,2,12,NaN,-6.146313,106.795777
2,3,2020-09-20,3175041005,DKI JAKARTA,JAKARTA TIMUR,KRAMAT JATI,BALE KAMBANG,191,6,14,...,0,23,93,5,74,1,13,NaN,-6.281319,106.852026
3,4,2020-09-20,3175031003,DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,BALI MESTER,78,0,13,...,0,3,23,2,15,1,5,NaN,-6.219198,106.866564
4,5,2020-09-20,3175101006,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,229,10,24,...,0,16,84,7,70,1,6,NaN,-6.313792,106.900130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,263,2020-09-20,3175011006,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU SELATAN,360,9,15,...,0,81,174,6,142,6,20,NaN,-6.203718,106.868837
263,264,2020-09-20,3175011002,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU UTARA,280,4,18,...,0,40,131,6,97,4,24,NaN,-6.196047,106.867746
264,265,2020-09-20,3171031008,DKI JAKARTA,JAKARTA PUSAT,KEMAYORAN,UTAN PANJANG,287,3,24,...,0,18,150,3,85,7,55,NaN,-6.165001,106.854805
265,266,2020-09-20,3172021007,DKI JAKARTA,JAKARTA UTARA,TANJUNG PRIOK,WARAKAS,314,8,55,...,0,46,185,5,145,4,31,NaN,-6.120540,106.876881
266,267,2020-09-20,3173021007,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,WIJAYA KUSUMA,277,1,22,...,0,21,136,3,102,5,26,NaN,-6.154385,106.775837

In [8]:
print(nIn)
print(nf)

0
267

In [9]:
# Connect to database (Note: The package psychopg2 is required for Postgres to work with SQLAlchemy)
engine = sqlalchemy.create_engine("postgres://postgres:p@ssw0rdswg@localhost/Covid19")
con = engine.connect()

In [10]:
table_cases = 'Covid19TDB'
df_cases_postgre.to_sql(table_cases, con)

In [11]:
nIn = 267
nf = 267
#nIn=534 
#nf=534

In [12]:
# Read in the data Covid-19 cases per district (2020)
df_cases_postgre = pd.read_csv("https://raw.githubusercontent.com/cahyati/GIS_Approach_on_Covid19/master/Standar%20Kelurahan%20Data%20Corona%20(21%20September%202020%20Pukul%2010.00).csv")
# View the top rows of the dataset
df_cases_postgre

,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,SUSPEK,Perawatan_RS,Isolasi_di_Rumah,Suspek_Meninggal,...,Selesai_Isolasi.3,DISCARDED,Meninggal,Selesai_Isolasi.4,POSITIF,Dirawat,Sembuh,Meninggal.1,Self_Isolation,Keterangan
0,2020-09-21,3172051003,DKI JAKARTA,JAKARTA UTARA,PADEMANGAN,ANCOL,350,0,31,0,...,461,7,0,7,168,6,127,2,33,NaN
1,2020-09-21,3173041007,DKI JAKARTA,JAKARTA BARAT,TAMBORA,ANGKE,324,4,21,2,...,402,25,0,25,115,6,95,2,12,NaN
2,2020-09-21,3175041005,DKI JAKARTA,JAKARTA TIMUR,KRAMAT JATI,BALE KAMBANG,192,7,13,1,...,350,23,0,23,93,5,75,1,12,NaN
3,2020-09-21,3175031003,DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,BALI MESTER,81,1,7,1,...,65,3,0,3,24,3,15,1,5,NaN
4,2020-09-21,3175101006,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,232,9,23,1,...,310,17,0,17,85,7,70,1,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2020-09-21,3175011006,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU SELATAN,360,8,14,8,...,571,82,0,82,175,6,143,6,20,NaN
263,2020-09-21,3175011002,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU UTARA,282,5,19,0,...,434,41,0,41,133,6,100,4,23,NaN
264,2020-09-21,3171031008,DKI JAKARTA,JAKARTA PUSAT,KEMAYORAN,UTAN PANJANG,287,2,24,2,...,272,18,0,18,152,4,85,7,56,NaN
265,2020-09-21,3172021007,DKI JAKARTA,JAKARTA UTARA,TANJUNG PRIOK,WARAKAS,314,3,57,2,...,585,47,0,47,189,6,145,4,34,NaN
266,2020-09-21,3173021007,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,WIJAYA KUSUMA,277,1,18,2,...,585,22,0,22,137,2,103,5,27,NaN

In [13]:
FID_cases = []

for index, row in df_cases_postgre.iterrows():
    nf = nf + 1
    cases = nf
    FID_cases.append(cases)
print(FID_cases)

[268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534]

In [14]:
index_cases = []
for index, row in df_cases_postgre.iterrows():
    index_cases.append(nIn)
    nIn = nIn + 1
print(index_cases)

[267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533]

In [15]:
df_cases_postgre.insert(0,"FID",FID_cases)
df_cases_postgre

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,SUSPEK,Perawatan_RS,Isolasi_di_Rumah,...,Selesai_Isolasi.3,DISCARDED,Meninggal,Selesai_Isolasi.4,POSITIF,Dirawat,Sembuh,Meninggal.1,Self_Isolation,Keterangan
0,268,2020-09-21,3172051003,DKI JAKARTA,JAKARTA UTARA,PADEMANGAN,ANCOL,350,0,31,...,461,7,0,7,168,6,127,2,33,NaN
1,269,2020-09-21,3173041007,DKI JAKARTA,JAKARTA BARAT,TAMBORA,ANGKE,324,4,21,...,402,25,0,25,115,6,95,2,12,NaN
2,270,2020-09-21,3175041005,DKI JAKARTA,JAKARTA TIMUR,KRAMAT JATI,BALE KAMBANG,192,7,13,...,350,23,0,23,93,5,75,1,12,NaN
3,271,2020-09-21,3175031003,DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,BALI MESTER,81,1,7,...,65,3,0,3,24,3,15,1,5,NaN
4,272,2020-09-21,3175101006,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,232,9,23,...,310,17,0,17,85,7,70,1,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,530,2020-09-21,3175011006,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU SELATAN,360,8,14,...,571,82,0,82,175,6,143,6,20,NaN
263,531,2020-09-21,3175011002,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU UTARA,282,5,19,...,434,41,0,41,133,6,100,4,23,NaN
264,532,2020-09-21,3171031008,DKI JAKARTA,JAKARTA PUSAT,KEMAYORAN,UTAN PANJANG,287,2,24,...,272,18,0,18,152,4,85,7,56,NaN
265,533,2020-09-21,3172021007,DKI JAKARTA,JAKARTA UTARA,TANJUNG PRIOK,WARAKAS,314,3,57,...,585,47,0,47,189,6,145,4,34,NaN
266,534,2020-09-21,3173021007,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,WIJAYA KUSUMA,277,1,18,...,585,22,0,22,137,2,103,5,27,NaN

In [16]:
df_cases_postgre.insert(0,"index",index_cases)
df_cases_postgre

,index,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,SUSPEK,Perawatan_RS,...,Selesai_Isolasi.3,DISCARDED,Meninggal,Selesai_Isolasi.4,POSITIF,Dirawat,Sembuh,Meninggal.1,Self_Isolation,Keterangan
0,267,268,2020-09-21,3172051003,DKI JAKARTA,JAKARTA UTARA,PADEMANGAN,ANCOL,350,0,...,461,7,0,7,168,6,127,2,33,NaN
1,268,269,2020-09-21,3173041007,DKI JAKARTA,JAKARTA BARAT,TAMBORA,ANGKE,324,4,...,402,25,0,25,115,6,95,2,12,NaN
2,269,270,2020-09-21,3175041005,DKI JAKARTA,JAKARTA TIMUR,KRAMAT JATI,BALE KAMBANG,192,7,...,350,23,0,23,93,5,75,1,12,NaN
3,270,271,2020-09-21,3175031003,DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,BALI MESTER,81,1,...,65,3,0,3,24,3,15,1,5,NaN
4,271,272,2020-09-21,3175101006,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,232,9,...,310,17,0,17,85,7,70,1,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,529,530,2020-09-21,3175011006,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU SELATAN,360,8,...,571,82,0,82,175,6,143,6,20,NaN
263,530,531,2020-09-21,3175011002,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU UTARA,282,5,...,434,41,0,41,133,6,100,4,23,NaN
264,531,532,2020-09-21,3171031008,DKI JAKARTA,JAKARTA PUSAT,KEMAYORAN,UTAN PANJANG,287,2,...,272,18,0,18,152,4,85,7,56,NaN
265,532,533,2020-09-21,3172021007,DKI JAKARTA,JAKARTA UTARA,TANJUNG PRIOK,WARAKAS,314,3,...,585,47,0,47,189,6,145,4,34,NaN
266,533,534,2020-09-21,3173021007,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,WIJAYA KUSUMA,277,1,...,585,22,0,22,137,2,103,5,27,NaN

In [17]:
# Get latitude and longitude of all districts
list_lat = []   # create empty lists for latitude
list_long = []  # create empty lists for longitude
for index, row in df_cases_postgre.iterrows(): # iterate over rows in dataframe
    District = row['nama_kelurahan']       
    query = str(District)+', Jakarta'
    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']
    list_lat.append(lat)
    list_long.append(long)
# create new columns from lists    
df_cases_postgre ['Latitude'] = list_lat   
df_cases_postgre ['Longitude'] = list_long
df_cases_postgre

,index,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,SUSPEK,Perawatan_RS,...,Meninggal,Selesai_Isolasi.4,POSITIF,Dirawat,Sembuh,Meninggal.1,Self_Isolation,Keterangan,Latitude,Longitude
0,267,268,2020-09-21,3172051003,DKI JAKARTA,JAKARTA UTARA,PADEMANGAN,ANCOL,350,0,...,0,7,168,6,127,2,33,NaN,-6.128086,106.844865
1,268,269,2020-09-21,3173041007,DKI JAKARTA,JAKARTA BARAT,TAMBORA,ANGKE,324,4,...,0,25,115,6,95,2,12,NaN,-6.146313,106.795777
2,269,270,2020-09-21,3175041005,DKI JAKARTA,JAKARTA TIMUR,KRAMAT JATI,BALE KAMBANG,192,7,...,0,23,93,5,75,1,12,NaN,-6.281319,106.852026
3,270,271,2020-09-21,3175031003,DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,BALI MESTER,81,1,...,0,3,24,3,15,1,5,NaN,-6.219198,106.866564
4,271,272,2020-09-21,3175101006,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,232,9,...,0,17,85,7,70,1,7,NaN,-6.313792,106.900130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,529,530,2020-09-21,3175011006,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU SELATAN,360,8,...,0,82,175,6,143,6,20,NaN,-6.203718,106.868837
263,530,531,2020-09-21,3175011002,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU UTARA,282,5,...,0,41,133,6,100,4,23,NaN,-6.196047,106.867746
264,531,532,2020-09-21,3171031008,DKI JAKARTA,JAKARTA PUSAT,KEMAYORAN,UTAN PANJANG,287,2,...,0,18,152,4,85,7,56,NaN,-6.165001,106.854805
265,532,533,2020-09-21,3172021007,DKI JAKARTA,JAKARTA UTARA,TANJUNG PRIOK,WARAKAS,314,3,...,0,47,189,6,145,4,34,NaN,-6.120540,106.876881
266,533,534,2020-09-21,3173021007,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,WIJAYA KUSUMA,277,1,...,0,22,137,2,103,5,27,NaN,-6.154385,106.775837

In [18]:
print(nIn)
print(nf)

534
534

In [19]:
df_cases_postgre.to_sql(table_cases, con, if_exists = 'append', index=nIn)

In [20]:
#https://raw.githubusercontent.com/cahyati/GIS_Approach_on_Covid19/master/Standar%20Kelurahan%20Data%20Corona%20(20%20September%202020%20Pukul%2010.00).csv

In [21]:
#https://raw.githubusercontent.com/cahyati/GIS_Approach_on_Covid19/master/Standar%20Kelurahan%20Data%20Corona%20(21%20September%202020%20Pukul%2010.00).csv

In [22]:
#https://raw.githubusercontent.com/cahyati/GIS_Approach_on_Covid19/master/Standar%20Kelurahan%20Data%20Corona%20(22%20September%202020%20Pukul%2010.00).csv