# Update DB2

In [1]:
import pandas as pd # library for data analsysis
import ibm_db

In [2]:
from opencage.geocoder import OpenCageGeocode
key = 'dc8aedff5e7d4bd196dafea349ce3cb8'
geocoder = OpenCageGeocode(key)
query = 'Jakarta, Indonesia'  
results = geocoder.geocode(query)

In [3]:
nIn = 0
nf = 0

In [4]:
# Read in the data Covid-19 cases per district (20 September,2020)
df_cases = pd.read_csv("C:/Users/user/Downloads/GIS_Approach_on_Covid19-master/StandarKelurahanDataCorona_20September2020Pukul10.00.csv")
# View the top rows of the dataset
df_cases

,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,SUSPEK,Perawatan_RS,Isolasi_di_Rumah,Suspek_Meninggal,...,Isolasi_di_Rumah.3,Selesai_Isolasi.3,DISCARDED,Meninggal,Selesai_Isolasi.4,POSITIF,Dirawat,Sembuh,Meninggal.1,Self_Isolation
0,2020-09-20,3172051003,DKI JAKARTA,JAKARTA UTARA,PADEMANGAN,ANCOL,350,0,51,0,...,35,455,6,0,6,167,5,127,2,33
1,2020-09-20,3173041007,DKI JAKARTA,JAKARTA BARAT,TAMBORA,ANGKE,322,4,22,2,...,10,401,25,0,25,111,2,95,2,12
2,2020-09-20,3175041005,DKI JAKARTA,JAKARTA TIMUR,KRAMAT JATI,BALE KAMBANG,191,6,14,1,...,31,349,23,0,23,93,5,74,1,13
3,2020-09-20,3175031003,DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,BALI MESTER,78,0,13,1,...,18,65,3,0,3,23,2,15,1,5
4,2020-09-20,3175101006,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,229,10,24,1,...,73,292,16,0,16,84,7,70,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2020-09-20,3175011006,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU SELATAN,360,9,15,8,...,54,566,81,0,81,174,6,142,6,20
263,2020-09-20,3175011002,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU UTARA,280,4,18,0,...,55,430,40,0,40,131,6,97,4,24
264,2020-09-20,3171031008,DKI JAKARTA,JAKARTA PUSAT,KEMAYORAN,UTAN PANJANG,287,3,24,2,...,56,269,18,0,18,150,3,85,7,55
265,2020-09-20,3172021007,DKI JAKARTA,JAKARTA UTARA,TANJUNG PRIOK,WARAKAS,314,8,55,2,...,98,578,46,0,46,185,5,145,4,31
266,2020-09-20,3173021007,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,WIJAYA KUSUMA,277,1,22,2,...,23,581,21,0,21,136,3,102,5,26

In [5]:
FID_cases = []

for index, row in df_cases.iterrows():
    nf = nf + 1
    cases = nf
    FID_cases.append(cases)
print(FID_cases)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267]

In [6]:
df_cases.insert(0,"FID",FID_cases)
df_cases

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,SUSPEK,Perawatan_RS,Isolasi_di_Rumah,...,Isolasi_di_Rumah.3,Selesai_Isolasi.3,DISCARDED,Meninggal,Selesai_Isolasi.4,POSITIF,Dirawat,Sembuh,Meninggal.1,Self_Isolation
0,1,2020-09-20,3172051003,DKI JAKARTA,JAKARTA UTARA,PADEMANGAN,ANCOL,350,0,51,...,35,455,6,0,6,167,5,127,2,33
1,2,2020-09-20,3173041007,DKI JAKARTA,JAKARTA BARAT,TAMBORA,ANGKE,322,4,22,...,10,401,25,0,25,111,2,95,2,12
2,3,2020-09-20,3175041005,DKI JAKARTA,JAKARTA TIMUR,KRAMAT JATI,BALE KAMBANG,191,6,14,...,31,349,23,0,23,93,5,74,1,13
3,4,2020-09-20,3175031003,DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,BALI MESTER,78,0,13,...,18,65,3,0,3,23,2,15,1,5
4,5,2020-09-20,3175101006,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,229,10,24,...,73,292,16,0,16,84,7,70,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,263,2020-09-20,3175011006,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU SELATAN,360,9,15,...,54,566,81,0,81,174,6,142,6,20
263,264,2020-09-20,3175011002,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU UTARA,280,4,18,...,55,430,40,0,40,131,6,97,4,24
264,265,2020-09-20,3171031008,DKI JAKARTA,JAKARTA PUSAT,KEMAYORAN,UTAN PANJANG,287,3,24,...,56,269,18,0,18,150,3,85,7,55
265,266,2020-09-20,3172021007,DKI JAKARTA,JAKARTA UTARA,TANJUNG PRIOK,WARAKAS,314,8,55,...,98,578,46,0,46,185,5,145,4,31
266,267,2020-09-20,3173021007,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,WIJAYA KUSUMA,277,1,22,...,23,581,21,0,21,136,3,102,5,26

In [7]:
# Get latitude and longitude of all districts
list_lat = []   # create empty lists for latitude
list_long = []  # create empty lists for longitude
for index, row in df_cases.iterrows(): # iterate over rows in dataframe
    District = row['nama_kelurahan']       
    query = str(District)+', Jakarta'
    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']
    list_lat.append(lat)
    list_long.append(long)
# create new columns from lists    
df_cases ['Latitude'] = list_lat   
df_cases ['Longitude'] = list_long
df_cases

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,SUSPEK,Perawatan_RS,Isolasi_di_Rumah,...,DISCARDED,Meninggal,Selesai_Isolasi.4,POSITIF,Dirawat,Sembuh,Meninggal.1,Self_Isolation,Latitude,Longitude
0,1,2020-09-20,3172051003,DKI JAKARTA,JAKARTA UTARA,PADEMANGAN,ANCOL,350,0,51,...,6,0,6,167,5,127,2,33,-6.128086,106.844865
1,2,2020-09-20,3173041007,DKI JAKARTA,JAKARTA BARAT,TAMBORA,ANGKE,322,4,22,...,25,0,25,111,2,95,2,12,-6.146313,106.795777
2,3,2020-09-20,3175041005,DKI JAKARTA,JAKARTA TIMUR,KRAMAT JATI,BALE KAMBANG,191,6,14,...,23,0,23,93,5,74,1,13,-6.281319,106.852026
3,4,2020-09-20,3175031003,DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,BALI MESTER,78,0,13,...,3,0,3,23,2,15,1,5,-6.219198,106.866564
4,5,2020-09-20,3175101006,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,229,10,24,...,16,0,16,84,7,70,1,6,-6.313792,106.900130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,263,2020-09-20,3175011006,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU SELATAN,360,9,15,...,81,0,81,174,6,142,6,20,-6.203718,106.868837
263,264,2020-09-20,3175011002,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU UTARA,280,4,18,...,40,0,40,131,6,97,4,24,-6.196047,106.867746
264,265,2020-09-20,3171031008,DKI JAKARTA,JAKARTA PUSAT,KEMAYORAN,UTAN PANJANG,287,3,24,...,18,0,18,150,3,85,7,55,-6.165001,106.854805
265,266,2020-09-20,3172021007,DKI JAKARTA,JAKARTA UTARA,TANJUNG PRIOK,WARAKAS,314,8,55,...,46,0,46,185,5,145,4,31,-6.120540,106.876881
266,267,2020-09-20,3173021007,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,WIJAYA KUSUMA,277,1,22,...,21,0,21,136,3,102,5,26,-6.154385,106.775837

In [8]:
print(nIn)
print(nf)

0
267

In [9]:
print(type(df_cases))

<class 'pandas.core.frame.DataFrame'>

In [10]:
df_cases.to_csv('20September.csv',index=False)

In [11]:
conn=ibm_db.connect("DATABASE=DEMO;HOSTNAME=localhost;PORT=50000;PROTOCOL=TCPIP;UID=db2admin;PWD=p@ssw0rd",'','')
connState = ibm_db.active(conn)
print(connState)

True

In [12]:
clientinfo = ibm_db.client_info(conn)
if clientinfo:
    print("DRIVER_NAME: string(%d) \"%s\"" % (len(clientinfo.DRIVER_NAME), clientinfo.DRIVER_NAME))
    print("DRIVER_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_VER), clientinfo.DRIVER_VER))
    print("DATA_SOURCE_NAME: string(%d) \"%s\"" % (len(clientinfo.DATA_SOURCE_NAME), clientinfo.DATA_SOURCE_NAME))
    print("DRIVER_ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_ODBC_VER), clientinfo.DRIVER_ODBC_VER))
    print("ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.ODBC_VER), clientinfo.ODBC_VER))
    print("ODBC_SQL_CONFORMANCE: string(%d) \"%s\"" % (len(clientinfo.ODBC_SQL_CONFORMANCE), clientinfo.ODBC_SQL_CONFORMANCE))
    print("APPL_CODEPAGE: int(%s)" % clientinfo.APPL_CODEPAGE)
    print("CONN_CODEPAGE: int(%s)" % clientinfo.CONN_CODEPAGE)

DRIVER_NAME: string(10) "DB2CLI.DLL"
DRIVER_VER: string(10) "11.05.0400"
DATA_SOURCE_NAME: string(4) "DEMO"
DRIVER_ODBC_VER: string(5) "03.51"
ODBC_VER: string(10) "03.01.0000"
ODBC_SQL_CONFORMANCE: string(8) "EXTENDED"
APPL_CODEPAGE: int(1252)
CONN_CODEPAGE: int(1208)

In [13]:
df_cases.columns

Index(['FID', 'Tanggal', 'ID_KEL', 'Nama_provinsi', 'nama_kota',
       'nama_kecamatan', 'nama_kelurahan', 'SUSPEK', 'Perawatan_RS',
       'Isolasi_di_Rumah', 'Suspek_Meninggal', 'Selesai_Isolasi', 'PROBABLE',
       'Perawatan_RS.1', 'Isolasi_di_Rumah.1', 'Probable_Meninggal',
       'Selesai_Isolasi.1', 'PELAKU_PERJALANAN', 'Perawatan_RS.2',
       'Isolasi_di_Rumah.2', 'Selesai_Isolasi.2', 'KONTAK_ERAT',
       'Isolasi_di_Rumah.3', 'Selesai_Isolasi.3', 'DISCARDED', 'Meninggal',
       'Selesai_Isolasi.4', 'POSITIF', 'Dirawat', 'Sembuh', 'Meninggal.1',
       'Self_Isolation', 'Latitude', 'Longitude'],
      dtype='object')

In [15]:
sql_stmt = "INSERT INTO COVID.COVID19TDB VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);"
stmt = ibm_db.prepare(conn, sql_stmt)
dict_of_df = df_cases.to_dict()

#print(len(dict_of_df['FID']))
#print(type(dict_of_df['FID'][key]))

for key in range(len(dict_of_df['FID'])):
    ibm_db.bind_param(stmt, 1, dict_of_df['FID'][key])
    ibm_db.bind_param(stmt, 2, dict_of_df['Tanggal'][key])
    ibm_db.bind_param(stmt, 3, str(dict_of_df['ID_KEL'][key]))
    ibm_db.bind_param(stmt, 4, dict_of_df['Nama_provinsi'][key])
    ibm_db.bind_param(stmt, 5, dict_of_df['nama_kota'][key])
    ibm_db.bind_param(stmt, 6, dict_of_df['nama_kecamatan'][key])
    ibm_db.bind_param(stmt, 7, dict_of_df['nama_kelurahan'][key])
    ibm_db.bind_param(stmt, 8, dict_of_df['SUSPEK'][key])
    ibm_db.bind_param(stmt, 9, dict_of_df['Perawatan_RS'][key])
    ibm_db.bind_param(stmt, 10, dict_of_df['Isolasi_di_Rumah'][key])
    ibm_db.bind_param(stmt, 11, dict_of_df['Suspek_Meninggal'][key])
    ibm_db.bind_param(stmt, 12, dict_of_df['Selesai_Isolasi'][key])
    ibm_db.bind_param(stmt, 13, dict_of_df['PROBABLE'][key])
    ibm_db.bind_param(stmt, 14, dict_of_df['Perawatan_RS.1'][key])
    ibm_db.bind_param(stmt, 15, dict_of_df['Isolasi_di_Rumah.1'][key])
    ibm_db.bind_param(stmt, 16, dict_of_df['Probable_Meninggal'][key])
    ibm_db.bind_param(stmt, 17, dict_of_df['Selesai_Isolasi.1'][key])
    ibm_db.bind_param(stmt, 18, dict_of_df['PELAKU_PERJALANAN'][key])
    ibm_db.bind_param(stmt, 19, dict_of_df['Perawatan_RS.2'][key])
    ibm_db.bind_param(stmt, 20, dict_of_df['Isolasi_di_Rumah.2'][key])
    ibm_db.bind_param(stmt, 21, dict_of_df['Selesai_Isolasi.2'][key])
    ibm_db.bind_param(stmt, 22, dict_of_df['KONTAK_ERAT'][key])
    ibm_db.bind_param(stmt, 23, dict_of_df['Isolasi_di_Rumah.3'][key])
    ibm_db.bind_param(stmt, 24, dict_of_df['Selesai_Isolasi.3'][key])
    ibm_db.bind_param(stmt, 25, dict_of_df['DISCARDED'][key])
    ibm_db.bind_param(stmt, 26, dict_of_df['Meninggal'][key])
    ibm_db.bind_param(stmt, 27, dict_of_df['Selesai_Isolasi.4'][key])
    ibm_db.bind_param(stmt, 28, dict_of_df['POSITIF'][key])
    ibm_db.bind_param(stmt, 29, dict_of_df['Dirawat'][key])
    ibm_db.bind_param(stmt, 30, dict_of_df['Sembuh'][key])
    ibm_db.bind_param(stmt, 31, dict_of_df['Meninggal.1'][key])
    ibm_db.bind_param(stmt, 32, dict_of_df['Self_Isolation'][key])
    ibm_db.bind_param(stmt, 33, dict_of_df['Latitude'][key])
    ibm_db.bind_param(stmt, 34, dict_of_df['Longitude'][key])
    ibm_db.execute(stmt)
print('success')

success

In [16]:
nIn = 267
nf = 267

In [17]:
# Read in the data Covid-19 cases per district (20 September,2020)
df_cases = pd.read_csv("C:/Users/user/Downloads/GIS_Approach_on_Covid19-master/StandarKelurahanDataCorona_21September2020Pukul10.00.csv")
# View the top rows of the dataset
df_cases

,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,SUSPEK,Perawatan_RS,Isolasi_di_Rumah,Suspek_Meninggal,...,Isolasi_di_Rumah.3,Selesai_Isolasi.3,DISCARDED,Meninggal,Selesai_Isolasi.4,POSITIF,Dirawat,Sembuh,Meninggal.1,Self_Isolation
0,2020-09-21,3172051003,DKI JAKARTA,JAKARTA UTARA,PADEMANGAN,ANCOL,350,0,31,0,...,30,461,7,0,7,168,6,127,2,33
1,2020-09-21,3173041007,DKI JAKARTA,JAKARTA BARAT,TAMBORA,ANGKE,324,4,21,2,...,11,402,25,0,25,115,6,95,2,12
2,2020-09-21,3175041005,DKI JAKARTA,JAKARTA TIMUR,KRAMAT JATI,BALE KAMBANG,192,7,13,1,...,30,350,23,0,23,93,5,75,1,12
3,2020-09-21,3175031003,DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,BALI MESTER,81,1,7,1,...,18,65,3,0,3,24,3,15,1,5
4,2020-09-21,3175101006,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,232,9,23,1,...,58,310,17,0,17,85,7,70,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2020-09-21,3175011006,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU SELATAN,360,8,14,8,...,53,571,82,0,82,175,6,143,6,20
263,2020-09-21,3175011002,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU UTARA,282,5,19,0,...,58,434,41,0,41,133,6,100,4,23
264,2020-09-21,3171031008,DKI JAKARTA,JAKARTA PUSAT,KEMAYORAN,UTAN PANJANG,287,2,24,2,...,53,272,18,0,18,152,4,85,7,56
265,2020-09-21,3172021007,DKI JAKARTA,JAKARTA UTARA,TANJUNG PRIOK,WARAKAS,314,3,57,2,...,92,585,47,0,47,189,6,145,4,34
266,2020-09-21,3173021007,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,WIJAYA KUSUMA,277,1,18,2,...,19,585,22,0,22,137,2,103,5,27

In [18]:
FID_cases = []

for index, row in df_cases.iterrows():
    nf = nf + 1
    cases = nf
    FID_cases.append(cases)
print(FID_cases)

[268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534]

In [19]:
df_cases.insert(0,"FID",FID_cases)
df_cases

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,SUSPEK,Perawatan_RS,Isolasi_di_Rumah,...,Isolasi_di_Rumah.3,Selesai_Isolasi.3,DISCARDED,Meninggal,Selesai_Isolasi.4,POSITIF,Dirawat,Sembuh,Meninggal.1,Self_Isolation
0,268,2020-09-21,3172051003,DKI JAKARTA,JAKARTA UTARA,PADEMANGAN,ANCOL,350,0,31,...,30,461,7,0,7,168,6,127,2,33
1,269,2020-09-21,3173041007,DKI JAKARTA,JAKARTA BARAT,TAMBORA,ANGKE,324,4,21,...,11,402,25,0,25,115,6,95,2,12
2,270,2020-09-21,3175041005,DKI JAKARTA,JAKARTA TIMUR,KRAMAT JATI,BALE KAMBANG,192,7,13,...,30,350,23,0,23,93,5,75,1,12
3,271,2020-09-21,3175031003,DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,BALI MESTER,81,1,7,...,18,65,3,0,3,24,3,15,1,5
4,272,2020-09-21,3175101006,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,232,9,23,...,58,310,17,0,17,85,7,70,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,530,2020-09-21,3175011006,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU SELATAN,360,8,14,...,53,571,82,0,82,175,6,143,6,20
263,531,2020-09-21,3175011002,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU UTARA,282,5,19,...,58,434,41,0,41,133,6,100,4,23
264,532,2020-09-21,3171031008,DKI JAKARTA,JAKARTA PUSAT,KEMAYORAN,UTAN PANJANG,287,2,24,...,53,272,18,0,18,152,4,85,7,56
265,533,2020-09-21,3172021007,DKI JAKARTA,JAKARTA UTARA,TANJUNG PRIOK,WARAKAS,314,3,57,...,92,585,47,0,47,189,6,145,4,34
266,534,2020-09-21,3173021007,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,WIJAYA KUSUMA,277,1,18,...,19,585,22,0,22,137,2,103,5,27

In [20]:
# Get latitude and longitude of all districts
list_lat = []   # create empty lists for latitude
list_long = []  # create empty lists for longitude
for index, row in df_cases.iterrows(): # iterate over rows in dataframe
    District = row['nama_kelurahan']       
    query = str(District)+', Jakarta'
    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']
    list_lat.append(lat)
    list_long.append(long)
# create new columns from lists    
df_cases ['Latitude'] = list_lat   
df_cases ['Longitude'] = list_long
df_cases

,FID,Tanggal,ID_KEL,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,SUSPEK,Perawatan_RS,Isolasi_di_Rumah,...,DISCARDED,Meninggal,Selesai_Isolasi.4,POSITIF,Dirawat,Sembuh,Meninggal.1,Self_Isolation,Latitude,Longitude
0,268,2020-09-21,3172051003,DKI JAKARTA,JAKARTA UTARA,PADEMANGAN,ANCOL,350,0,31,...,7,0,7,168,6,127,2,33,-6.128086,106.844865
1,269,2020-09-21,3173041007,DKI JAKARTA,JAKARTA BARAT,TAMBORA,ANGKE,324,4,21,...,25,0,25,115,6,95,2,12,-6.146313,106.795777
2,270,2020-09-21,3175041005,DKI JAKARTA,JAKARTA TIMUR,KRAMAT JATI,BALE KAMBANG,192,7,13,...,23,0,23,93,5,75,1,12,-6.281319,106.852026
3,271,2020-09-21,3175031003,DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,BALI MESTER,81,1,7,...,3,0,3,24,3,15,1,5,-6.219198,106.866564
4,272,2020-09-21,3175101006,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,232,9,23,...,17,0,17,85,7,70,1,7,-6.313792,106.900130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,530,2020-09-21,3175011006,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU SELATAN,360,8,14,...,82,0,82,175,6,143,6,20,-6.203718,106.868837
263,531,2020-09-21,3175011002,DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU UTARA,282,5,19,...,41,0,41,133,6,100,4,23,-6.196047,106.867746
264,532,2020-09-21,3171031008,DKI JAKARTA,JAKARTA PUSAT,KEMAYORAN,UTAN PANJANG,287,2,24,...,18,0,18,152,4,85,7,56,-6.165001,106.854805
265,533,2020-09-21,3172021007,DKI JAKARTA,JAKARTA UTARA,TANJUNG PRIOK,WARAKAS,314,3,57,...,47,0,47,189,6,145,4,34,-6.120540,106.876881
266,534,2020-09-21,3173021007,DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,WIJAYA KUSUMA,277,1,18,...,22,0,22,137,2,103,5,27,-6.154385,106.775837

In [21]:
print(nIn)
print(nf)

267
534

In [22]:
print(type(df_cases))

<class 'pandas.core.frame.DataFrame'>

In [23]:
df_cases.to_csv('21September.csv',index=False)

In [24]:
clientinfo = ibm_db.client_info(conn)
if clientinfo:
    print("DRIVER_NAME: string(%d) \"%s\"" % (len(clientinfo.DRIVER_NAME), clientinfo.DRIVER_NAME))
    print("DRIVER_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_VER), clientinfo.DRIVER_VER))
    print("DATA_SOURCE_NAME: string(%d) \"%s\"" % (len(clientinfo.DATA_SOURCE_NAME), clientinfo.DATA_SOURCE_NAME))
    print("DRIVER_ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.DRIVER_ODBC_VER), clientinfo.DRIVER_ODBC_VER))
    print("ODBC_VER: string(%d) \"%s\"" % (len(clientinfo.ODBC_VER), clientinfo.ODBC_VER))
    print("ODBC_SQL_CONFORMANCE: string(%d) \"%s\"" % (len(clientinfo.ODBC_SQL_CONFORMANCE), clientinfo.ODBC_SQL_CONFORMANCE))
    print("APPL_CODEPAGE: int(%s)" % clientinfo.APPL_CODEPAGE)
    print("CONN_CODEPAGE: int(%s)" % clientinfo.CONN_CODEPAGE)

DRIVER_NAME: string(10) "DB2CLI.DLL"
DRIVER_VER: string(10) "11.05.0400"
DATA_SOURCE_NAME: string(4) "DEMO"
DRIVER_ODBC_VER: string(5) "03.51"
ODBC_VER: string(10) "03.01.0000"
ODBC_SQL_CONFORMANCE: string(8) "EXTENDED"
APPL_CODEPAGE: int(1252)
CONN_CODEPAGE: int(1208)

In [25]:
df_cases.columns

Index(['FID', 'Tanggal', 'ID_KEL', 'Nama_provinsi', 'nama_kota',
       'nama_kecamatan', 'nama_kelurahan', 'SUSPEK', 'Perawatan_RS',
       'Isolasi_di_Rumah', 'Suspek_Meninggal', 'Selesai_Isolasi', 'PROBABLE',
       'Perawatan_RS.1', 'Isolasi_di_Rumah.1', 'Probable_Meninggal',
       'Selesai_Isolasi.1', 'PELAKU_PERJALANAN', 'Perawatan_RS.2',
       'Isolasi_di_Rumah.2', 'Selesai_Isolasi.2', 'KONTAK_ERAT',
       'Isolasi_di_Rumah.3', 'Selesai_Isolasi.3', 'DISCARDED', 'Meninggal',
       'Selesai_Isolasi.4', 'POSITIF', 'Dirawat', 'Sembuh', 'Meninggal.1',
       'Self_Isolation', 'Latitude', 'Longitude'],
      dtype='object')

In [26]:
sql_stmt = "INSERT INTO COVID.COVID19TDB VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);"
stmt = ibm_db.prepare(conn, sql_stmt)
dict_of_df = df_cases.to_dict()


for key in range(len(dict_of_df['FID'])):
    ibm_db.bind_param(stmt, 1, dict_of_df['FID'][key])
    ibm_db.bind_param(stmt, 2, dict_of_df['Tanggal'][key])
    ibm_db.bind_param(stmt, 3, str(dict_of_df['ID_KEL'][key]))
    ibm_db.bind_param(stmt, 4, dict_of_df['Nama_provinsi'][key])
    ibm_db.bind_param(stmt, 5, dict_of_df['nama_kota'][key])
    ibm_db.bind_param(stmt, 6, dict_of_df['nama_kecamatan'][key])
    ibm_db.bind_param(stmt, 7, dict_of_df['nama_kelurahan'][key])
    ibm_db.bind_param(stmt, 8, dict_of_df['SUSPEK'][key])
    ibm_db.bind_param(stmt, 9, dict_of_df['Perawatan_RS'][key])
    ibm_db.bind_param(stmt, 10, dict_of_df['Isolasi_di_Rumah'][key])
    ibm_db.bind_param(stmt, 11, dict_of_df['Suspek_Meninggal'][key])
    ibm_db.bind_param(stmt, 12, dict_of_df['Selesai_Isolasi'][key])
    ibm_db.bind_param(stmt, 13, dict_of_df['PROBABLE'][key])
    ibm_db.bind_param(stmt, 14, dict_of_df['Perawatan_RS.1'][key])
    ibm_db.bind_param(stmt, 15, dict_of_df['Isolasi_di_Rumah.1'][key])
    ibm_db.bind_param(stmt, 16, dict_of_df['Probable_Meninggal'][key])
    ibm_db.bind_param(stmt, 17, dict_of_df['Selesai_Isolasi.1'][key])
    ibm_db.bind_param(stmt, 18, dict_of_df['PELAKU_PERJALANAN'][key])
    ibm_db.bind_param(stmt, 19, dict_of_df['Perawatan_RS.2'][key])
    ibm_db.bind_param(stmt, 20, dict_of_df['Isolasi_di_Rumah.2'][key])
    ibm_db.bind_param(stmt, 21, dict_of_df['Selesai_Isolasi.2'][key])
    ibm_db.bind_param(stmt, 22, dict_of_df['KONTAK_ERAT'][key])
    ibm_db.bind_param(stmt, 23, dict_of_df['Isolasi_di_Rumah.3'][key])
    ibm_db.bind_param(stmt, 24, dict_of_df['Selesai_Isolasi.3'][key])
    ibm_db.bind_param(stmt, 25, dict_of_df['DISCARDED'][key])
    ibm_db.bind_param(stmt, 26, dict_of_df['Meninggal'][key])
    ibm_db.bind_param(stmt, 27, dict_of_df['Selesai_Isolasi.4'][key])
    ibm_db.bind_param(stmt, 28, dict_of_df['POSITIF'][key])
    ibm_db.bind_param(stmt, 29, dict_of_df['Dirawat'][key])
    ibm_db.bind_param(stmt, 30, dict_of_df['Sembuh'][key])
    ibm_db.bind_param(stmt, 31, dict_of_df['Meninggal.1'][key])
    ibm_db.bind_param(stmt, 32, dict_of_df['Self_Isolation'][key])
    ibm_db.bind_param(stmt, 33, dict_of_df['Latitude'][key])
    ibm_db.bind_param(stmt, 34, dict_of_df['Longitude'][key])
    ibm_db.execute(stmt)
print('success')

success